.app-header {
  height: 64px;
  line-height: 64px;
  background-color: #001529;
  padding: 0 30px;
}
.app-title {
  float: left;
  height: inherit;
  margin-right: 30px;
  line-height: inherit;
}
.app-title a {
  display: block;
  color: white;
  font-size: 24px;
  font-weight: normal;
  height: inherit;
  line-height: inherit;
}

.app-logo {
  width: 40px;
  padding-right: 10px;
	vertical-align: middle;
	position: relative;
	top: -4px;
}

.main-nav {
  height: inherit;
  float: left;
}
.main-nav ul {
  height: inherit;
  float: left;
}
.main-nav ul li a{
  display: block;
  height: inherit;
  line-height: 64px;
  padding: 0 15px;
}
.main-nav ul li{
  float: left;
  height: inherit;
  color: rgba(255,255,255,0.65);
}
.main-nav ul li:hover{
  color: #fff;
}
.main-nav ul li.selected{
  color: #fff;
  background-color: #1890FF;
}

.user-info {
  height: inherit;
  line-height: inherit;
  float: right;
  color: #1890FF;
}
.user-info p {
  cursor: pointer;
  line-height: inherit;
}
.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 10px;
}

.page-container {
  padding: 20px;
  background: #F0F2F5;
}

.page-content {
  position: relative;
  background: #fff;
  min-height: 500px;
  padding: 20px;
}

footer {
  clear: both;
  text-align: center;
  padding: 30px;
  background-color: white;
}
