.content{
  position: relative;
  padding: 70px 30px;
  max-width: 900px;
  margin: 0 auto;

}

@media screen and (max-width: 1500px){
  .content {
      margin-left: 290px;
  }
}

h3{
    color:#444444;
}

pre{
    border: 1px solid #eee;
    width: 100%;
}
li{
    text-indent: 20px;
    list-style:disc inside ;
}

@media only screen and (max-width: 800px) {
    .content{
        margin-left: 0;
        border-left: none;
        padding: 70px 10px 70px 10px;
    }
}
