/*ul*/  
.o-tab-bar{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  text-align: center;
  border-top: 1px solid #ddd;
  padding-top: 13px; 
  padding-bottom: 5px; 
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #F9F9F9;
}

ul,li{
  padding: 0;
  margin: 0;
  list-style: none;
}

a{
  text-decoration: none;
  
}

.item{
  cursor: pointer;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}