.weui-icon-small {
  font-size: 24px;
  color: #09bb07
}

.weui-icon-big {
  font-size: 84px;
  color: #09bb07
}

.weui-icon-info,[class^='weui-icon-waiting']{
  color: #10aeff
}
.weui-icon-circle,.weui-icon-clear,.weui-icon-search{
  color: #c9c9c9
}

.weui-icon-warn,.weui-icon-cancel{
  color: #f43530;
}