@import "../../common/scss/theme";
.o-cascader {
  display: inline-block;
  position: relative;
  outline: 0;

  &-dropdown {
    &__wrap {
      position: relative;
    }

    &__menu {
      height: 100%;
      margin: 0;
      padding: 6px 0;
      list-style: none;
      box-sizing: border-box;
      background-color: $o-bg-color-container;
      color: $o-text-color-secondary;
    }

    &__item {
      position: relative;
      padding: 10px 20px;
      cursor: pointer;

      &.selected,
      &:hover {
        background:$o-bg-cascader-hover;
      }

      &-suffix {
        position: absolute;
        right: 10px;
      }

      &.disabled {
        color: #c0c4cc;
        cursor: not-allowed;
      }
    }

    &-right__wrap {
      position: absolute;
      left: 100%;
      top: 0;
      width: 190px;
      background-color: $o-bg-color-container;
      box-shadow: rgba(0, 0, 0, 0.1) 0 2px 12px 0;
    }
  }
}
.o-cascader-input-style{
  background-color: $o-bg-color-container;
  color:$o-text-color-secondary;
}
.o-cascader-input-disabled-style{
  background-color: $o-bg-color-secondarycontainer;
  color:$o-text-color-secondary;

}
