li.title{
    font-size: 14px;
    font-weight: bold;
    margin-bottom:10px;
    margin-top:10px;
    text-indent: 23px;
}
li{
    margin-bottom:1px;
    text-indent: 33px;
}
li a{
    display:block;
    font-size:14px;
    height:30px;
    line-height:30px;
    color: black;
    background-color:#eee;
}
li a.current,li a.current:hover{
  background-color:#24292e;
  color: white;
  cursor: default;
}
li a:hover{
    background-color:#f0f8ff;
}


ul,li{
  list-style:none;
}
