@import "color-definitions";

//modify this file to your needs to generate themes or palettes of your desire
//global theme settings and colours

//NOTE dark-theme has the supported values true or false
$dark-theme: false !default;

//primary color palette
$primary-color-palette: $palette-teal !default;

//accent color palette
$accent-color-palette: $palette-lime !default;
