@import "@omiu/common/theme.scss";

:host {
	display: inline-block;
}

:host([block]) {
	display: block;
}


.o-button {
	display: inline-block;
	line-height: 1;
	white-space: nowrap;
	cursor: pointer;
	background: #fff;
	border: 1px solid #dcdfe6;
	color: #606266;
	-webkit-appearance: none;
	text-align: center;
	box-sizing: border-box;
	outline: none;
	margin: 0;
	transition: .1s;
	font-weight: 500;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	padding: 12px 20px;
	font-size: 14px;
	border-radius: 4px;
}


.o-button:hover {
	border-color: $o-primary-hover-border;
	border-color: var(--o-primary-hover-border, $o-primary-hover-border);
	color: $o-primary;
	color: var(--o-primary, $o-primary);
	background-color: $o-primary-hover-bg;
	background-color: var(--o-primary-hover-bg, $o-primary-hover-bg);
}

.o-button:active {
	color: $o-primary;
	color: var(--o-primary, $o-primary);
	border-color: $o-primary;
	border-color: var(--o-primary, $o-primary);
	outline: none
}

$type-list: primary danger;

@each $type in $type-list {
	.o-button-#{$type} {
		color: #fff;
		background-color: map-get($options, $type);
		border-color: map-get($options, $type);
		background-color: var(--o-#{$type}, map-get($options, $type));
		border-color: var(--o-#{$type}, map-get($options, $type));
	}


	.o-button-#{$type}.is-plain {
		color:map-get($options, $type);
		color: var(--o-#{$type}, map-get($options, $type));
		background-color: map-get($options, $type#{-fade-lot});
		background-color: var(--o-#{$type}-fade-lot, map-get($options, $type#{-fade-lot}));
		border-color: map-get($options, $type#{-fade-some});
		border-color: var(--o-#{$type}-fade-some, map-get($options, $type#{-fade-some}));
	}

	.o-button-#{$type}:hover {
		background-color:  map-get($options, $type#{-fade-little});
		border-color:  map-get($options, $type#{-fade-little});
		background-color: var(--o-#{$type}-fade-little,  map-get($options, $type#{-fade-little}));
		border-color: var(--o-#{$type}-fade-little,  map-get($options, $type#{-fade-little}));
		color: #fff;
	}

	.o-button-#{$type}:active {
		background-color: map-get($options, $type#{-active});
		border-color: map-get($options, $type#{-active});
		background-color: var(--o-#{$type}-active, map-get($options, $type#{-active}));
		border-color: var(--o-#{$type}-active, map-get($options, $type#{-active}));
		color: #fff
	}
}


.loading {
  width: 1em;
  height: 1em;
  display: inline-block;
  animation: loading 1s steps(12, end) infinite;
	vertical-align: -0.125em;
}


@-webkit-keyframes loading {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
@keyframes loading {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

.o-button-medium {
	padding: 10px 20px;
	font-size: 14px;
	border-radius: 4px;
}

.o-button-small {
	padding: 9px 15px;
	font-size: 12px;
	border-radius: 3px;
}

.o-button-mini {
	padding: 7px 15px;
	font-size: 12px;
	border-radius: 3px;
}

.o-button.is-round {
	border-radius: 20px;
}

.o-button.is-circle {
	border-radius: 20px;
	padding: 12px;
}

.o-button.is-disabled, .o-button.is-disabled:focus, .o-button.is-disabled:hover {
	color: #c0c4cc;
	cursor: not-allowed;
	background-image: none;
	background-color: #fff;
	border-color: #ebeef5;
}

.o-button.is-block {
 display: block;
 width: 100%;
}
