.o-step{
  
}

._item-icon {
  border: 1px solid rgba(0, 0, 0, 0.25);
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 32px;
  font-size: 16px;
  margin-right: 8px;
  display: inline-block;
}

._item-content {
  display: inline-block;
  position: relative;
  top: 20px;
}

._item-finish ._item-icon {
  border-color: #07C160;
  background-color: #fff;
}

._item-description {
  color: rgba(0, 0, 0, 0.45);
  font-size: 13px;
}

.finish-icon {
  position: relative;
  top: 2px;
}

._item-finish>._item-content>._item-title:after {
  background-color: #07C160;
}

._item-title:after {
  content: '';
  height: 1px;
  width: 9999px;
  background: #e8e8e8;
  display: block;
  position: absolute;
  top: 10px;
  left: 90px;
}

._item {
  position: relative;
  display: inline-block;
  margin-right: 50px; 
  background-color: white;
  
}

 ._item:last-child ._item-title:after{
   display: none;
 }