@import '../../common/scss/theme.scss';

:host {
  display: block;
}

ol {
  list-style-type: decimal;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  display: inline-block;
  color: $o-text-color-gray-5;
  vertical-align: middle;
}

.breadcrumb-li a {
  color: $o-text-color-gray-5;
}

a {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
  height: 20px;
}

.split {
  margin: 0 8px;
}

.current {
  color: $o-text-color-gray-6;
  vertical-align: middle;
  line-height: 20px;
  height: 20px;
}

.icon {
  vertical-align: -0.2em;
}
