.o-menu{
  max-width: 160px;
  position: relative;
}

.ctn{
  border-radius: 5px;
  background-color: #4C4B4C;
  color: #F2F2F2;
  overflow: hidden;
}

.ctn>a{
  text-align: center;
  display: block;
  position: relative;
  line-height: 35px;
  cursor: pointer;
  white-space: nowrap;
  text-align: left;
  height: 60px;
}

a:active{
  background-color:rgb(63, 63, 63);
}

.icon {
  position:absolute;
  left:20px;
  top:13px;
}

.wd{
  margin-left: 60px;
  line-height: 60px;
  border-bottom: 1px solid #555555; 
}

.arrow{
  position:absolute;
  width: 10px;
  height: 10px;
  background-color: #4C4B4C; 
  transform: rotate(45deg);
  border-radius: 2px;
  z-index: -1;
  top:-4px;
  right: 15px;;

}