:root[theme-mode="dark"]{
  --omi-gray-color-1: #f3f3f3;
  --omi-gray-color-2: #eee;
  --omi-gray-color-3: #e7e7e7;
  --omi-gray-color-4: #dcdcdc;
  --omi-gray-color-5: #c5c5c5;
  --omi-gray-color-6: #a6a6a6;
  --omi-gray-color-7: #8b8b8b;
  --omi-gray-color-8: #777;
  --omi-gray-color-9: #5e5e5e;
  --omi-gray-color-10: #4b4b4b;
  --omi-gray-color-11: #383838;
  --omi-gray-color-12: #2c2c2c;
  --omi-gray-color-13: #242424;
  --omi-gray-color-14: #181818;


  // 文字 & 图标 颜色
  --omi-font-white-1: rgba(255, 255, 255, 90%);
  --omi-font-white-2: rgba(255, 255, 255, 55%);
  --omi-font-white-3: rgba(255, 255, 255, 35%);
  --omi-font-white-4: rgba(255, 255, 255, 22%);
  --omi-font-gray-1: rgba(0, 0, 0, 90%);
  --omi-font-gray-2: rgba(0, 0, 0, 60%);
  --omi-font-gray-3: rgba(0, 0, 0, 40%);
  --omi-font-gray-4: rgba(0, 0, 0, 26%);


  // 背景色
  --omi-bg-color-page: var(--omi-gray-color-14);                        // 色彩 - page
  --omi-bg-color-page-dark: var(--omi-gray-color-14);
  --omi-bg-color-container: var(--omi-gray-color-13);                   // 色彩 - 容器
  --omi-bg-color-container-hover: var(--omi-gray-color-12);             // 色彩 - 容器 - hover
  --omi-bg-color-container-active: var(--omi-gray-color-10);            // 色彩 - 容器 - active
  --omi-bg-color-container-select: var(--omi-gray-color-9);             // 色彩 - 容器 - select
  --omi-bg-color-secondarycontainer: var(--omi-gray-color-12);          // 色彩 - 次级容器
  --omi-bg-color-secondarycontainer-hover: var(--omi-gray-color-11);    // 色彩 - 次级容器 - hover
  --omi-bg-color-secondarycontainer-active: var(--omi-gray-color-9);   // 色彩 - 次级容器 - active
  --omi-bg-color-component: var(--omi-gray-color-11);                   // 色彩  - 组件
  --omi-bg-color-component-hover: var(--omi-gray-color-10);             // 色彩 - 组件 - hover
  --omi-bg-color-component-active: var(--omi-gray-color-9);             // 色彩 - 组件 - active
  --omi-bg-color-component-disabled: var(--omi-gray-color-12);          // 色彩 - 组件 - disabled

  --omi-bg-cascader-hover:var(--omi-gray-color-11);
  --omi-treenode-focus:var(--omi-gray-color-11);
  --omi-bg-table-th:var(--omi-gray-color-11);
  // 特殊组件背景色，目前只用于 button、input 组件多主题场景，浅色主题下固定为白色，深色主题下为 transparent 适配背景颜色
  --omi-bg-color-specialcomponent: transparent;

  // 文本颜色
  --omi-text-color-primary: var(--omi-font-white-1);      // 色彩-文字-主要
  --omi-text-color-secondary: var(--omi-font-white-2);    // 色彩-文字-次要
  --omi-text-color-placeholder: var(--omi-font-white-3);  // 色彩-文字-占位符/说明
  --omi-text-color-disabled: var(--omi-font-white-4);    // 色彩-文字-禁用
  --omi-text-color-anti: #fff;                      // 色彩-文字-反色
  --omi-text-color-gray:--omi-gray-color-7;
  --omi-text-color-gray-5:var(--omi-font-white-3);
  --omi-text-color-gray-6:var(--omi-font-white-2);

  --omi-icon-color-primary: var(--omi-font-white-1);
  // 分割线
  --omi-border-level-1-color: var(--omi-gray-color-11);
  --omi-component-stroke: var(--omi-gray-color-11);
  // 边框
  --omi-border-level-2-color: var(--omi-gray-color-9);
  --omi-component-border: var(--omi-gray-color-9);
}
