node_modules
/node_modules
/npm-debug.log
.DS_Store
/_dev
/coverage
package-lock.json
/test/ts/**/*.js
yarn.lock

# Editor and IDE configuration
.vscode/
.idea/

vue-ms
/packages/*/node_modules
/packages/*/yarn.lock
/packages/*/yarn-error.log

npm-debug.log
/packages/*/todo.md
bak.js

# test ouput
coverage
