node_modules
/node_modules
/npm-debug.log
.DS_Store
/_dev
/coverage
package-lock.json
/test/ts/**/*.js

# Editor and IDE configuration
.vscode/
.idea/

/packages/*/node_modules
/packages/omis
/packages/*/yarn.lock
/packages/*/yarn-error.log

npm-debug.log
/packages/*/todo.md
