@import "../theme";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";

:host {
  display: inline-block;
}

.mdc-menu-surface{
  position: unset;
  opacity: 1;
  display: block;
}