<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/src/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>OMIU</title>
  <script type="module" src="/src/demo.tsx"></script>
</head>

<body>
  <a href="https://github.com/Tencent/omi" target="_blank" style="position: fixed; right: 0; top: 0; z-index: 3;">
    <img src="//alloyteam.github.io/github.png" alt="">
  </a>
  <script src="https://tencent.github.io/omi/packages/omi/dist/omi.js"></script>

  <script src="https://unpkg.com/@omiu/link"></script>

  <!-- 这里导入需要的OmiU-component -->
  <script src="https://unpkg.com/@omiu/icon@0.0.2/add-a-photo-rounded.js"></script>
  <script src="https://unpkg.com/@omiu/icon@0.0.2/add-comment-rounded.js"></script>
  <script src="https://unpkg.com/@omiu/icon@0.0.2/add-ic-call-rounded.js"></script>
  <script src="https://unpkg.com/@omiu/avatar"></script>
  <script src="https://unpkg.com/@omiu/image"></script>
</body>



</html>
