<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/src/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>OMIU</title>
  <script type="module" src="/src/index.tsx"></script>
</head>

<body>
  <h1>HTML Mode <a href="./demo.html">JSX Mode</a></h1>

  <script src="https://tencent.github.io/omi/packages/omi/dist/omi.js"></script>
  <script src="../../src/index.js"></script>
  <script src="../../../icon/ac-unit-outlined.js"></script>
  <script src="../../../icon/accessible-rounded.js"></script>

  <style>
    o-input {
      margin-top: 10px;
    }
  </style>

  <div>
    <o-input placeholder="Enter User Name"></o-input>
  </div>

  <div>
    <o-input disabled placeholder="Enter User Name"></o-input>
  </div>

  <div>
    <o-input clearable placeholder="Enter User Name"></o-input>
  </div>

  <div>
    <o-input max-length="10" placeholder="Enter User Name"></o-input>
  </div>

  <div>
    <o-input suffix-icon="ac-unit-outlined" placeholder="Enter User Name"></o-input>
  </div>

  <div>
    <o-input suffix-icon="ac-unit-outlined" placeholder="Enter User Name"></o-input>
    <o-input size="medium" suffix-icon="ac-unit-outlined" placeholder="Enter User Name"></o-input>
    <o-input size="small" suffix-icon="ac-unit-outlined" placeholder="Enter User Name"></o-input>
    <o-input size="mini" suffix-icon="ac-unit-outlined" placeholder="Enter User Name"></o-input>
  </div>

  <div>
    <o-input prefix-icon="ac-unit-outlined" placeholder="Enter User Name"></o-input>
    <o-input size="medium" prefix-icon="ac-unit-outlined" placeholder="Enter User Name"></o-input>
    <o-input size="small" prefix-icon="ac-unit-outlined" placeholder="Enter User Name"></o-input>
    <o-input size="mini" prefix-icon="ac-unit-outlined" placeholder="Enter User Name"></o-input>
  </div>

  <o-input block placeholder="Enter User Name"></o-input>


  <o-input type="textarea" placeholder="Enter User Name"></o-input>
</body>

</html>