/**
 * author: Di (微信小程序开发工程师)
 * organization: WeAppDev(微信小程序开发论坛)(http://weappdev.com)
 *               垂直微信小程序开发交流社区
 * 
 * github地址: https://github.com/icindy/wxParse
 * 
 * for: 微信小程序富文本解析
 * detail : http://weappdev.com/t/wxparse-alpha0-1-html-markdown/184
 */

page > view {
  padding: 20rpx;
}

.wxParse {
  margin: 0 5px;
  font-family: Helvetica, sans-serif;
  font-size: 28rpx;
  color: #666;
  line-height: 1.8;
}

view {
  word-break: break-all;
  overflow: auto;
}

.wxParse-inline {
  display: inline;
  margin: 0;
  padding: 0;
}

/*//标题 */

.wxParse-div {
  margin: 0;
  padding: 0;
}

.wxParse-h1 {
  font-size: 2em;
  margin: .67em 0
}

.wxParse-h2 {
  font-size: 1.5em;
  margin: .75em 0
}

.wxParse-h3 {
  font-size: 1.17em;
  margin: .83em 0
}

.wxParse-h4 {
  margin: 1.12em 0
}

.wxParse-h5 {
  font-size: .83em;
  margin: 1.5em 0
}

.wxParse-h6 {
  font-size: .75em;
  margin: 1.67em 0
}

.wxParse-h1 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: .9em;
}

.wxParse-h2 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: .34em;
}

.wxParse-h3 {
  font-weight: 400;
  font-size: 15px;
  margin-bottom: .34em;
}

.wxParse-h4 {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: .24em;
}

.wxParse-h5 {
  font-weight: 400;
  font-size: 13px;
  margin-bottom: .14em;
}

.wxParse-h6 {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: .04em;
}

.wxParse-h1,
.wxParse-h2,
.wxParse-h3,
.wxParse-h4,
.wxParse-h5,
.wxParse-h6,
.wxParse-b,
.wxParse-strong {
  font-weight: bolder
}

.wxParse-i,
.wxParse-cite,
.wxParse-em,
.wxParse-var,
.wxParse-address {
  font-style: italic
}

.wxParse-pre,
.wxParse-tt,
.wxParse-code,
.wxParse-kbd,
.wxParse-samp {
  font-family: monospace
}

.wxParse-pre {
  white-space: pre;
  background-color: #f5f5f5;
}

.wxParse-big {
  font-size: 1.17em
}

.wxParse-small,
.wxParse-sub,
.wxParse-sup {
  font-size: .83em
}

.wxParse-sub {
  vertical-align: sub
}

.wxParse-sup {
  vertical-align: super
}

.wxParse-s,
.wxParse-strike,
.wxParse-del {
  text-decoration: line-through
}

/*wxparse-自定义个性化的css样式*/

/*增加video的css样式*/

.wxParse-strong,
.wxParse-s {
  display: inline
}

.wxParse-a {
  color: deepskyblue;
  word-break: break-all;
  overflow: auto;
}

.wxParse-video {
  text-align: center;
  margin: 10px 0;
}

.wxParse-video-video {
  width: 100%;
}

.wxParse-img {
  /*background-color: #efefef;*/
  overflow: hidden;
}

.wxParse-blockquote {
  margin: 0;
  padding: 10px 0 10px 5px;
  font-family: Courier, Calibri, "宋体";
  background: #f5f5f5;
  border-left: 3px solid #dbdbdb;
}

.wxParse-code,
.wxParse-wxxxcode-style {
  display: inline;
  background: #f5f5f5;
}

.wxParse-ul {
  margin: 20rpx 10rpx;
}

.wxParse-li,
.wxParse-li-inner {
  display: flex;
  align-items: baseline;
  margin: 10rpx 0;
}

.wxParse-li-text {
  align-items: center;
  line-height: 20px;
}

.wxParse-li-circle {
  display: inline-flex;
  width: 5px;
  height: 5px;
  background-color: #333;
  margin-right: 5px;
}

.wxParse-li-square {
  display: inline-flex;
  width: 10rpx;
  height: 10rpx;
  background-color: #333;
  margin-right: 5px;
}

.wxParse-li-ring {
  display: inline-flex;
  width: 10rpx;
  height: 10rpx;
  border: 2rpx solid #333;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 5px;
}

/*.wxParse-table{
  width: 100%;
  height: 400px;
}
.wxParse-thead,.wxParse-tfoot,.wxParse-tr{
  display: flex;
  flex-direction: row;
}
.wxParse-th,.wxParse-td{
  display: flex;
  width: 580px;
  overflow: auto;
}*/

.wxParse-u {
  text-decoration: underline;
}

.wxParse-hide {
  display: none;
}

.WxEmojiView {
  align-items: center;
}

.wxEmoji {
  width: 16px;
  height: 16px;
}

.wxParse-tr {
  display: flex;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}

.wxParse-th,
.wxParse-td {
  flex: 1;
  padding: 5px;
  font-size: 28rpx;
  border-left: 1px solid #e0e0e0;
  word-break: break-all;
}

.wxParse-td:last {
  border-top: 1px solid #e0e0e0;
}

.wxParse-th {
  background: #f0f0f0;
  border-top: 1px solid #e0e0e0;
}

.wxParse-del {
  display: inline;
}

.wxParse-figure {
  overflow: hidden;
}

.wxParse-ul > text.WxEmojiView.wxParse-inline{
  display: none;
}

.wxParse-tbody > text.WxEmojiView.wxParse-inline{
  display: none;
}

.wxParse-table > text.WxEmojiView.wxParse-inline{
  display: none;
}

.wxParse-thead > text.WxEmojiView.wxParse-inline{
  display: none;
}

/* PrismJS 1.16.0
https://prismjs.com/download.html#themes=prism-okaidia&languages=markup+css+clike+javascript+bash+json+typescript+jsx+tsx&plugins=line-highlight+line-numbers */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

 .code[class*="language-"],
 .pre[class*="language-"] {
   color: #f8f8f2;
   background: none;
   text-shadow: 0 1px rgba(0, 0, 0, 0.3);
   font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
   font-size: 25rpx;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;
 
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
 
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }
 
 /* Code blocks */
 .pre[class*="language-"] {
   padding: 1em;
   margin: .5em 0;
   overflow: auto;
   border-radius: 0.3em;
 }
 
 :not(.pre) > .code[class*="language-"],
 .pre[class*="language-"] {
   background: #272822;
 }
 
 /* Inline code */
 :not(.pre) > .code[class*="language-"] {
   padding: .1em;
   border-radius: .3em;
   white-space: normal;
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
   color: slategray;
 }
 
 .token.punctuation {
   color: #f8f8f2;
 }
 
 .namespace {
   opacity: .7;
 }
 
 .token.property,
 .token.tag,
 .token.constant,
 .token.symbol,
 .token.deleted {
   color: #f92672;
 }
 
 .token.boolean,
 .token.number {
   color: #ae81ff;
 }
 
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
   color: #a6e22e;
 }
 
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string,
 .token.variable {
   color: #f8f8f2;
 }
 
 .token.atrule,
 .token.attr-value,
 .token.function,
 .token.class-name {
   color: #e6db74;
 }
 
 .token.keyword {
   color: #66d9ef;
 }
 
 .token.regex,
 .token.important {
   color: #fd971f;
 }
 
 .token.important,
 .token.bold {
   font-weight: bold;
 }
 .token.italic {
   font-style: italic;
 }
 
 .token.entity {
   cursor: help;
 }
 
 .pre[data-line] {
   position: relative;
   padding: 1em 0 1em 3em;
 }
 
 .line-highlight {
   position: absolute;
   left: 0;
   right: 0;
   padding: inherit 0;
   margin-top: 1em; /* Same as .prism’s padding-top */
 
   background: hsla(24, 20%, 50%,.08);
   background: linear-gradient(to right, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
 
   pointer-events: none;
 
   line-height: inherit;
   white-space: pre;
 }
 
   .line-highlight:before,
   .line-highlight[data-end]:after {
     content: attr(data-start);
     position: absolute;
     top: .4em;
     left: .6em;
     min-width: 1em;
     padding: 0 .5em;
     background-color: hsla(24, 20%, 50%,.4);
     color: hsl(24, 20%, 95%);
     font: bold 65%/1.5 sans-serif;
     text-align: center;
     vertical-align: .3em;
     border-radius: 999px;
     text-shadow: none;
     box-shadow: 0 1px white;
   }
 
   .line-highlight[data-end]:after {
     content: attr(data-end);
     top: auto;
     bottom: .4em;
   }
 
 .line-numbers .line-highlight:before,
 .line-numbers .line-highlight:after {
   content: none;
 }
 
 .pre[class*="language-"].line-numbers {
   position: relative;
   padding-left: 3.8em;
   counter-reset: linenumber;
 }
 
 .pre[class*="language-"].line-numbers > .code {
   position: relative;
   white-space: inherit;
 }
 
 .line-numbers .line-numbers-rows {
   position: absolute;
   pointer-events: none;
   top: 0;
   font-size: 100%;
   left: -3.8em;
   width: 3em; /* works for line-numbers below 1000 lines */
   letter-spacing: -1px;
   border-right: 1px solid #999;
 
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 
 }
 
   .line-numbers-rows > span {
     pointer-events: none;
     display: block;
     counter-increment: linenumber;
   }
 
     .line-numbers-rows > span:before {
       content: counter(linenumber);
       color: #999;
       display: block;
       padding-right: 0.8em;
       text-align: right;
     }
 
 