body{
    background-color:#ccc;
}
.dragger1 {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: 1px solid #929397;
    overflow: hidden;
    background: url(sprite.png) no-repeat 14px -19px;
    position: absolute;
    left: 85px;
    cursor: default;
    background-color: #fff;
}

.dragger2 {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: 1px solid #929397;
    overflow: hidden;
    background: url(sprite.png) no-repeat 11px 11px;
    position: absolute;
    top: 85px;
    left: 85px;
    cursor: default;
    background-color: #fff;
}

.dragger3 {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: 1px solid #929397;
    overflow: hidden;
    background: url(sprite.png) no-repeat 7px -52px;
    position: absolute;
    top: 85px;
    cursor: default;
    background-color: #fff;
}

.box {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-align: stretch;
    display: box;
    box-orient: vertical;
    box-align: stretch;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    text-align: center;
    width: 200px;
    height: 200px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 40px auto;
    font-size: 40px;
    font-weight: bold;
    color: #262525;
    background-color: #fff;
}