:root,
:root[theme-mode=light] {
  --omi-gray-color-1: #f3f3f3;
  --omi-gray-color-2: #eee;
  --omi-gray-color-3: #e7e7e7;
  --omi-gray-color-4: #dcdcdc;
  --omi-gray-color-5: #c5c5c5;
  --omi-gray-color-6: #a6a6a6;
  --omi-gray-color-7: #8b8b8b;
  --omi-gray-color-8: #777;
  --omi-gray-color-9: #5e5e5e;
  --omi-gray-color-10: #4b4b4b;
  --omi-gray-color-11: #383838;
  --omi-gray-color-12: #2c2c2c;
  --omi-gray-color-13: #242424;
  --omi-gray-color-14: #181818;
  --omi-font-white-1: rgba(255, 255, 255, 100%);
  --omi-font-white-2: rgba(255, 255, 255, 55%);
  --omi-font-white-3: rgba(255, 255, 255, 35%);
  --omi-font-white-4: rgba(255, 255, 255, 22%);
  --omi-font-gray-1: rgba(0, 0, 0, 90%);
  --omi-font-gray-2: rgba(0, 0, 0, 60%);
  --omi-font-gray-3: rgba(0, 0, 0, 40%);
  --omi-font-gray-4: rgba(0, 0, 0, 26%);
  --omi-icon-gray-3:rgba(0, 0, 0, 0.54);
  --omi-mask-active: rgba(0, 0, 0, 60%);
  --omi-mask-disabled: rgba(255, 255, 255, 60%);
  --omi-bg-color-page: var(--omi-gray-color-2);
  --omi-bg-color-container: #fff;
  --omi-bg-color-container-hover: var(--omi-gray-color-1);
  --omi-bg-color-container-active: var(--omi-gray-color-3);
  --omi-bg-color-container-select: #fff;
  --omi-bg-color-secondarycontainer: var(--omi-gray-color-1);
  --omi-bg-color-secondarycontainer-hover: var(--omi-gray-color-2);
  --omi-bg-color-secondarycontainer-active: var(--omi-gray-color-4);
  --omi-bg-color-component: var(--omi-gray-color-3);
  --omi-bg-color-component-hover: var(--omi-gray-color-4);
  --omi-bg-color-component-active: var(--omi-gray-color-6);
  --omi-bg-color-component-disabled: var(--omi-gray-color-2);
  --omi-bg-color-specialcomponent: #fff;
  --omi-text-color-primary: var(--omi-font-gray-1);
  --omi-text-color-secondary: var(--omi-font-gray-2);
  --omi-text-color-placeholder: var(--omi-font-gray-3);
  --omi-text-color-disabled: var(--omi-font-gray-4);
  --omi-text-color-anti: #fff;
  --omi-text-color-brand: var(--omi-brand-color-8);
  --omi-text-color-link: var(--omi-brand-color-8);
  --omi-text-color-gray:#606266;
  --omi-icon-color-primary: var(--omi-icon-gray-3);
  --omi-border-level-1-color: var(--omi-gray-color-3);
  --omi-component-stroke: var(--omi-gray-color-3);
  --omi-border-level-2-color: var(--omi-gray-color-4);
  --omi-component-border: var(--omi-gray-color-4);
}

:root[theme-mode=dark] {
  --omi-gray-color-1: #f3f3f3;
  --omi-gray-color-2: #eee;
  --omi-gray-color-3: #e7e7e7;
  --omi-gray-color-4: #dcdcdc;
  --omi-gray-color-5: #c5c5c5;
  --omi-gray-color-6: #a6a6a6;
  --omi-gray-color-7: #8b8b8b;
  --omi-gray-color-8: #777;
  --omi-gray-color-9: #5e5e5e;
  --omi-gray-color-10: #4b4b4b;
  --omi-gray-color-11: #383838;
  --omi-gray-color-12: #2c2c2c;
  --omi-gray-color-13: #242424;
  --omi-gray-color-14: #181818;
  --omi-font-white-1: rgba(255, 255, 255, 90%);
  --omi-font-white-2: rgba(255, 255, 255, 55%);
  --omi-font-white-3: rgba(255, 255, 255, 35%);
  --omi-font-white-4: rgba(255, 255, 255, 22%);
  --omi-font-gray-1: rgba(0, 0, 0, 90%);
  --omi-font-gray-2: rgba(0, 0, 0, 60%);
  --omi-font-gray-3: rgba(0, 0, 0, 40%);
  --omi-font-gray-4: rgba(0, 0, 0, 26%);
  --omi-bg-color-page: var(--omi-gray-color-14);
  --omi-bg-color-container: var(--omi-gray-color-13);
  --omi-bg-color-container-hover: var(--omi-gray-color-12);
  --omi-bg-color-container-active: var(--omi-gray-color-10);
  --omi-bg-color-container-select: var(--omi-gray-color-9);
  --omi-bg-color-secondarycontainer: var(--omi-gray-color-12);
  --omi-bg-color-secondarycontainer-hover: var(--omi-gray-color-11);
  --omi-bg-color-secondarycontainer-active: var(--omi-gray-color-9);
  --omi-bg-color-component: var(--omi-gray-color-11);
  --omi-bg-color-component-hover: var(--omi-gray-color-10);
  --omi-bg-color-component-active: var(--omi-gray-color-9);
  --omi-bg-color-component-disabled: var(--omi-gray-color-12);
  --omi-bg-color-specialcomponent: transparent;
  --omi-text-color-primary: var(--omi-font-white-1);
  --omi-text-color-secondary: var(--omi-font-white-2);
  --omi-text-color-placeholder: var(--omi-font-white-3);
  --omi-text-color-disabled: var(--omi-font-white-4);
  --omi-text-color-anti: #fff;
  --omi-text-color-gray:--omi-gray-color-7;
  --omi-icon-color-primary: var(--omi-font-white-1);
  --omi-border-level-1-color: var(--omi-gray-color-11);
  --omi-component-stroke: var(--omi-gray-color-11);
  --omi-border-level-2-color: var(--omi-gray-color-9);
  --omi-component-border: var(--omi-gray-color-9);
}

:host {
  display: inline-block;
}

:host([block]) {
  display: block;
}

.o-textarea {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
  font-size: 14px;
}

.o-textarea__inner {
  display: block;
  resize: vertical;
  padding: 5px 15px;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  font-size: inherit;
  color: var(--omi-icon-color-primary);
  background-color: var(--omi-bg-color-container);
  background-image: none;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.o-textarea__inner::-webkit-input-placeholder {
  color: #c0c4cc;
}

.o-textarea__inner:-ms-input-placeholder {
  color: #c0c4cc;
}

.o-textarea__inner::-ms-input-placeholder {
  color: #c0c4cc;
}

.o-textarea__inner::placeholder {
  color: #c0c4cc;
}

.o-textarea__inner:hover {
  border-color: #c0c4cc;
}

.o-textarea__inner:focus {
  outline: 0;
  border-color: #07c160;
  border-color: var(--o-primary, #07c160);
}

.o-textarea .o-input__count {
  color: #909399;
  background: #fff;
  position: absolute;
  font-size: 12px;
  bottom: 5px;
  right: 10px;
}

.o-textarea.is-disabled .o-textarea__inner {
  background-color: #f5f7fa;
  border-color: #e4e7ed;
  color: #c0c4cc;
  cursor: not-allowed;
}

.o-textarea.is-disabled .o-textarea__inner::-webkit-input-placeholder {
  color: #c0c4cc;
}

.o-textarea.is-disabled .o-textarea__inner:-ms-input-placeholder {
  color: #c0c4cc;
}

.o-textarea.is-disabled .o-textarea__inner::-ms-input-placeholder {
  color: #c0c4cc;
}

.o-textarea.is-disabled .o-textarea__inner::placeholder {
  color: #c0c4cc;
}

.o-textarea.is-exceed .o-textarea__inner {
  border-color: #f56c6c;
}

.o-textarea.is-exceed .o-input__count {
  color: #f56c6c;
}

.o-input {
  position: relative;
  font-size: 14px;
  display: inline-block;
  width: 100%;
}

.o-input::-webkit-scrollbar {
  z-index: 11;
  width: 6px;
}

.o-input::-webkit-scrollbar:horizontal {
  height: 6px;
}

.o-input::-webkit-scrollbar-thumb {
  border-radius: 5px;
  width: 6px;
  background: #b4bccc;
}

.o-input::-webkit-scrollbar-corner {
  background: #fff;
}

.o-input::-webkit-scrollbar-track {
  background: #fff;
}

.o-input::-webkit-scrollbar-track-piece {
  background: #fff;
  width: 6px;
}

.o-input .o-input__clear {
  color: #c0c4cc;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.o-input .o-input__clear:hover {
  color: #909399;
}

.o-input .o-input__count {
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #909399;
  font-size: 12px;
}

.o-input .o-input__count .o-input__count-inner {
  background: var(--omi-bg-color-container);
  line-height: initial;
  display: inline-block;
  padding: 0 5px;
}

.o-input__inner {
  -webkit-appearance: none;
  background-color: var(--omi-bg-color-container);
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--omi-icon-color-primary);
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: 0;
  padding: 0 15px;
  -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}

.o-input__prefix,
.o-input__suffix {
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
  text-align: center;
  height: 100%;
  color: #c0c4cc;
}

.o-input__inner::-webkit-input-placeholder {
  color: #c0c4cc;
}

.o-input__inner:-ms-input-placeholder {
  color: #c0c4cc;
}

.o-input__inner::-ms-input-placeholder {
  color: #c0c4cc;
}

.o-input__inner::placeholder {
  color: #c0c4cc;
}

.o-input__inner:hover {
  border-color: #c0c4cc;
}

.o-input.is-active .o-input__inner,
.o-input__inner:focus {
  border-color: #07c160;
  border-color: var(--o-primary, #07c160);
  outline: 0;
}

.o-input__suffix {
  right: 5px;
  transition: all 0.3s;
  pointer-events: none;
}

.o-input__suffix-inner {
  pointer-events: all;
}

.o-input__prefix {
  left: 5px;
  transition: all 0.3s;
}

.o-input__icon {
  position: absolute;
  width: 35px;
  height: 100%;
  right: 0;
  top: 0;
  padding-top: 0.215em;
  text-align: center;
  color: #bfcbd9;
  transition: all 0.3s;
}

.o-input--small .o-input__icon,
.o-input--medium .o-input__icon {
  padding-top: 0.135em;
}

.o-input--mini .o-input__icon {
  padding-top: 0.125em;
}

.o-input__icon.is-prefix {
  left: 0;
}

.o-input.o-input-prefix input {
  padding-left: 30px;
}

.o-input.o-input-suffix input {
  padding-right: 30px;
}

.o-input__icon:after {
  content: "";
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}

.o-input__validateIcon {
  pointer-events: none;
}

.o-input.is-disabled .o-input__inner {
  background-color: var(--omi-bg-color-secondarycontainer);
  border-color: #e4e7ed;
  color: #c0c4cc;
  cursor: not-allowed;
}

.o-input.is-disabled .o-input__inner::-webkit-input-placeholder {
  color: #c0c4cc;
}

.o-input.is-disabled .o-input__inner:-ms-input-placeholder {
  color: #c0c4cc;
}

.o-input.is-disabled .o-input__inner::-ms-input-placeholder {
  color: #c0c4cc;
}

.o-input.is-disabled .o-input__inner::placeholder {
  color: #c0c4cc;
}

.o-input.is-disabled .o-input__icon {
  cursor: not-allowed;
}

.o-input.is-exceed .o-input__inner {
  border-color: #f56c6c;
}

.o-input.is-exceed .o-input__suffix .o-input__count {
  color: #f56c6c;
}

.o-input--suffix .o-input__inner {
  padding-right: 30px;
}

.o-input--prefix .o-input__inner {
  padding-left: 30px;
}

.o-input--medium {
  font-size: 14px;
}

.o-input--medium .o-input__inner {
  height: 36px;
  line-height: 36px;
}

.o-input--medium .o-input__icon {
  line-height: 36px;
}

.o-input--small {
  font-size: 13px;
}

.o-input--small .o-input__inner {
  height: 32px;
  line-height: 32px;
}

.o-input--small .o-input__icon {
  line-height: 32px;
}

.o-input--mini {
  font-size: 12px;
}

.o-input--mini .o-input__inner {
  height: 28px;
  line-height: 28px;
}

.o-input--mini .o-input__icon {
  line-height: 28px;
}

.o-input-group {
  line-height: normal;
  display: inline-table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.o-input-group > .o-input__inner {
  vertical-align: middle;
  display: table-cell;
}

.o-input-group__append,
.o-input-group__prepend {
  background-color: #f5f7fa;
  color: #909399;
  vertical-align: middle;
  display: table-cell;
  position: relative;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  padding: 0 20px;
  width: 1px;
  white-space: nowrap;
}

.o-input-group--prepend .o-input__inner,
.o-input-group__append {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.o-input-group--append .o-input__inner,
.o-input-group__prepend {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.o-input-group__append:focus,
.o-input-group__prepend:focus {
  outline: 0;
}

.o-input-group__append .o-button,
.o-input-group__append .o-select,
.o-input-group__prepend .o-button,
.o-input-group__prepend .o-select {
  display: inline-block;
  margin: -10px -20px;
}

.o-input-group__append button.o-button,
.o-input-group__append div.o-select .o-input__inner,
.o-input-group__append div.o-select:hover .o-input__inner,
.o-input-group__prepend button.o-button,
.o-input-group__prepend div.o-select .o-input__inner,
.o-input-group__prepend div.o-select:hover .o-input__inner {
  border-color: transparent;
  background-color: transparent;
  color: inherit;
  border-top: 0;
  border-bottom: 0;
}

.o-input-group__append .o-button,
.o-input-group__append .o-input,
.o-input-group__prepend .o-button,
.o-input-group__prepend .o-input {
  font-size: inherit;
}

.o-input-group__prepend {
  border-right: 0;
}

.o-input-group__append {
  border-left: 0;
}

.o-input-group--append .o-select .o-input.is-focus .o-input__inner,
.o-input-group--prepend .o-select .o-input.is-focus .o-input__inner {
  border-color: transparent;
}

.o-input__inner::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.o-icon-clear {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -0.5em;
  cursor: pointer;
  color: #bfcbd9;
  display: none;
  border-radius: 50%;
  width: 1em;
  height: 1em;
}

.o-icon-clear:hover {
  background: #b1b4b9;
  color: white;
}

.o-input:hover .o-icon-clear {
  display: block;
  cursor: pointer;
}

.o-input .o-input__count {
  position: absolute;
  top: 0px;
  right: 4px;
}

.o-input.is-block {
  display: block;
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
