.content{
    width: 80%;
}
h3{
    color:#444444;
}
pre{
    border: 1px solid #eee;
    width: 100%;
}
li{
    text-indent: 20px;
    list-style:disc inside ;
}

@media only screen and (max-width: 768px) {
    .content{
        width: 100%;
    }
}