$o-theme-primary: #07c160;
$o-theme-secondary: desaturate($o-theme-primary, 30%);
$o-theme-error: #f5222d;
$o-theme-surface: #ffffff;

$o-theme-on-primary: #ffffff;
$o-theme-on-secondary: #ffffff;
$o-theme-on-error: #ffffff;
$o-theme-on-surface: #000000;
$o-theme-background: #ffffff;

$o-shape-small-component-radius: 4px;
$o-shape-medium-component-radius: 4px;
$o-shape-large-component-radius: 0px;
$o-typography--font-family: Roboto, sans-serif;
