@import '../../common/scss/theme.scss';

.o-badge {
  position: relative;
  display: inline-block;
}

.badge {
  background-color: #f95050;
  color: #ffffff;
  line-height: 1.2;

  top: 0;
  right: 0;
  height: 20px;
  display: flex;
  padding: 0 4px;
  z-index: 1;
  position: absolute;
  flex-wrap: wrap;
  font-size: 0.75rem;
  min-width: 20px;
  transform: scale(1) translate(50%, -50%);
  box-sizing: border-box;
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  align-items: center;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  align-content: center;
  border-radius: 10px;
  flex-direction: row;
  justify-content: center;
  transform-origin: 100% 0%;

  cursor: pointer;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  min-width: 8px;
  padding: 0;
}
