$mdc-theme-primary: #0052d9;
$mdc-theme-secondary: #1890ff;
$mdc-theme-error: #f5222d;
$mdc-theme-surface: #ffffff;

$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #ffffff;
$mdc-theme-on-error: #ffffff;
$mdc-theme-on-surface: #000000;
$mdc-theme-background: #ffffff;

$mdc-shape-small-component-radius: 4px;
$mdc-shape-medium-component-radius: 4px;
$mdc-shape-large-component-radius: 0px;
$mdc-typography--font-family: Roboto, sans-serif;
