@import "../theme";
@import "@material/textfield/mdc-text-field";

.icon{
  cursor: default;
  pointer-events: none;
}

.mdc-text-field--with-leading-icon .icon{
  position: absolute;
  top: 12px;
  left: 10px;
}

.mdc-text-field--with-trailing-icon .icon{
  position: absolute;
  top: 12px;
  right: 12px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
