@import "../../src/theme";
@import "@material/list/mdc-list";
@import "@material/radio/mdc-radio";

.m-list-radio {
    padding: 0;
}

.mdc-list-item__graphic {
    margin-right: 0px;
}

.m-list-label {
    padding-left: 32px;
    width: 100%;
    height: 100%;
    line-height: 48px;
}
