<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<meta charset="UTF-8">
	<title>OMIU</title>
	<script type="module" src="/src/index.tsx"></script>
</head>

<body>
	<h1>HTML Mode <a href="./demo.html">JSX Mode</a></h1>
	<div>
		<o-steps steps="[
		{ name: 'Finished', description: 'This is a description.', state: 0 },
		{ name: 'In Progress', description: 'This is a description.', state: 2 },
		{ name: 'Waiting', description: 'This is a description.', state: 3 }
	]"></o-steps>
		<o-steps steps="[
		{ name: 'Finished', description: 'This is a description.', state: 0 },
		{ name: 'Error', description: 'This is a description.', state: 1 },
		{ name: 'Waiting', description: 'This is a description.', state: 3 }
	]"></o-steps>
		<o-steps steps="[
		{ name: 'Finished', description: 'This is a description.', state: 0 },
		{ name: 'Finished', description: 'This is a description.', state: 0 },
		{ name: 'Finished', description: 'This is a description.', state: 0 }
	]"></o-steps>

		<o-steps steps="[
		{ name: 'Finished', description: 'This is a description.', state: 0 },
		{ name: 'In Progress', description: 'This is a description.', state: 2 },
		{ name: 'Waiting', description: 'This is a description.', state: 3 }
	]" vertical></o-steps>
		<o-steps steps="[
		{ name: 'Finished', description: 'This is a description.', state: 0 },
		{ name: 'Error', description: 'This is a description.', state: 1 },
		{ name: 'Waiting', description: 'This is a description.', state: 3 }
	]" vertical></o-steps>
		<o-steps steps="[
		{ name: 'Finished', description: 'This is a description.', state: 0 },
		{ name: 'Finished', description: 'This is a description.', state: 0 },
		{ name: 'Finished', description: 'This is a description.', state: 0 }
	]" vertical></o-steps>
	</div>

	<script src="https://tencent.github.io/omi/packages/omi/dist/omi.js"></script>

	<a href="https://github.com/Tencent/omi" target="_blank" style="position: fixed; right: 0; top: 0; z-index: 3;">
		<img src="//alloyteam.github.io/github.png" alt="">
	</a>
</body>

</html>
