<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OMIU</title>
    <script src="https://tencent.github.io/omi/packages/omi/dist/omi.js"></script>
    <script src="../src/index.js"></script>
  </head>

  <body>
    <o-transfer data="[{key: 1 , table: '1' , disable: true} , {key: 2 , table: '2'} , {key: 3 , table: '3'} , {key: 4 , table: '4'} , {key: 5 , table: '5' , disable: true}]" value="[5]" titles="['标题a', '标题b']"></o-transfer>
    <script>

    </script>
  </body>
</html>


