.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f2f5;
}

.content-wrapper {
    flex: auto;
    padding: 12px 0;
}

.content {
    margin: 0 24px;
    display: flex;
    height: 100%;

    .left {
        width: 295px;
        background-color: #fff;
        padding: 0 12px;
    }

    .main {
        flex: 1;
        position: relative;
        overflow: hidden;

        .canvas-wrapper {
            position: absolute;
            width: 400px;
            height: 712px;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            overflow: auto;
            box-shadow: 0 2px 10px #0000001f;
        }
    }

    .right {
        width: 300px;
        background-color: #fff;
        padding: 0 12px;
    }
}