<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vite App</title>

</head>

<body>
  <div id="root">
    <script type="module" src="/src/index.tsx"></script>
    <o-slider min="0" max="100" value="50 " id="single-range-demo"></o-slider>

    <o-slider min="0" max="100" value="20" double_range id="double-range-demo"></o-slider>
    <!-- <o-slider min="0" max="100" value="10" id="double-range-demo"></o-slider> -->
    <!-- <o-slider min="0" max="100" value="10" vertical id="vertical-demo"></o-slider> -->
    
    
    
    
    
    <!-- <div class="range-slider omi" style='--min:0; --max:100; --value:75; --text-value:"75"; --suffix:"%"'>
      <input type="range" min="0" max="100" value="75" oninput="this.parentNode.style.setProperty('--value',this.value); this.parentNode.style.setProperty('--text-value', JSON.stringify(this.value))">
      <output></output>
      <div class='range-slider__progress'></div>
    </div>
    <div class="range-slider omi" data-ticks-position='top' style='--min:-500; --max:500; --value-a:-220; --value-b:400; --suffix:"%"; --text-value-a:"-220"; --text-value-b:"400";'>
      <input type="range" min="-500" max="500" value="-220" oninput="this.parentNode.style.setProperty('--value-a',this.value); this.parentNode.style.setProperty('--text-value-a', JSON.stringify(this.value))">
      <output></output>
      <input type="range" min="-500" max="500" value="400" oninput="this.parentNode.style.setProperty('--value-b',this.value); this.parentNode.style.setProperty('--text-value-b', JSON.stringify(this.value))">
      <output></output>
      <div class='range-slider__progress'></div>
    </div> -->
    
    
    
    <!-- Double range slider (flat design)  -->
    <!-- <div class="range-slider flat" data-ticks-position='top' style='--min:-500; --max:500; --value-a:-220; --value-b:400; --suffix:"%"; --text-value-a:"-220"; --text-value-b:"400";'>
      <input type="range" min="-500" max="500" value="-220" oninput="this.parentNode.style.setProperty('--value-a',this.value); this.parentNode.style.setProperty('--text-value-a', JSON.stringify(this.value))">
      <output></output>
      <input type="range" min="-500" max="500" value="400" oninput="this.parentNode.style.setProperty('--value-b',this.value); this.parentNode.style.setProperty('--text-value-b', JSON.stringify(this.value))">
      <output></output>
      <div class='range-slider__progress'></div>
    </div> -->
  </div>
    

</body>

</html>
