html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

// scrollbar
$--scrollbar-width: 6px;

::-webkit-scrollbar {
  width: $--scrollbar-width;
}

::-webkit-scrollbar:horizontal {
  height: $--scrollbar-width;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: $--scrollbar-width;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: $--scrollbar-width;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}
