@import "../../common/scss/theme";
:host {
  position: fixed;
  z-index: 100000;
}

.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  z-index: 100;
  left: 0;
  top: 0;
}

.o-dialog {
  position: relative;
  background: $o-bg-color-container;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.o-dialog.is-fullscreen {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
  overflow: auto
}

.o-dialog__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  margin: 0
}

.o-dialog__header {
  padding: 20px 20px 10px;
}

.o-dialog__headerbtn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  background: 0 0;
  border: none;
  outline: 0;
  cursor: pointer;
  font-size: 16px
}

.o-dialog__headerbtn .o-dialog__close {
  color: #909399
}

.o-dialog__headerbtn:focus .o-dialog__close,
.o-dialog__headerbtn:hover .o-dialog__close {
  color: #409EFF
}

.o-dialog__title {
  line-height: 24px;
  font-size: 18px;
  color:$o-text-color-primary;
}

.o-dialog__body {
  padding: 30px 20px;
  color:$o-text-color-primary;
  font-size: 14px;
  word-break: break-all
}

.o-dialog__footer {
  padding: 10px 20px 20px;
  text-align: right;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.o-dialog--center {
  text-align: center
}

.o-dialog--center .o-dialog__body {
  text-align: initial;
  padding: 25px 25px 30px
}

.o-dialog--center .o-dialog__footer {
  text-align: inherit
}

.dialog-zoom-enter-active {
  -webkit-animation: dialog-zoom-in .3s;
  animation: dialog-zoom-in .3s
}

.dialog-zoom-leave-active {
  -webkit-animation: dialog-zoom-out .3s;
  animation: dialog-zoom-out .3s
}

@-webkit-keyframes dialog-zoom-in {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1
  }
}

@keyframes dialog-zoom-in {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1
  }
}

@-webkit-keyframes dialog-zoom-out {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1
  }

  100% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0
  }
}

@keyframes dialog-zoom-out {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1
  }

  100% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0
  }
}



.mask-enter-active {
  -webkit-animation: mask-in .3s;
  animation: mask-in .3s
}

.mask-leave-active {
  -webkit-animation: mask-out .3s;
  animation: mask-out .3s
}

@-webkit-keyframes mask-in {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes mask-in {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@-webkit-keyframes mask-out {
  0% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@keyframes mask-out {
  0% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

.content {
  z-index: 101;
}
