:root,
:root[theme-mode=light] {
  --omi-gray-color-1: #f3f3f3;
  --omi-gray-color-2: #eee;
  --omi-gray-color-3: #e7e7e7;
  --omi-gray-color-4: #dcdcdc;
  --omi-gray-color-5: #c5c5c5;
  --omi-gray-color-6: #a6a6a6;
  --omi-gray-color-7: #8b8b8b;
  --omi-gray-color-8: #777;
  --omi-gray-color-9: #5e5e5e;
  --omi-gray-color-10: #4b4b4b;
  --omi-gray-color-11: #383838;
  --omi-gray-color-12: #2c2c2c;
  --omi-gray-color-13: #242424;
  --omi-gray-color-14: #181818;
  --omi-font-white-1: rgba(255, 255, 255, 100%);
  --omi-font-white-2: rgba(255, 255, 255, 55%);
  --omi-font-white-3: rgba(255, 255, 255, 35%);
  --omi-font-white-4: rgba(255, 255, 255, 22%);
  --omi-font-gray-1: rgba(0, 0, 0, 90%);
  --omi-font-gray-2: rgba(0, 0, 0, 60%);
  --omi-font-gray-3: rgba(0, 0, 0, 40%);
  --omi-font-gray-4: rgba(0, 0, 0, 26%);
  --omi-icon-gray-3:rgba(0, 0, 0, 0.54);
  --omi-mask-active: rgba(0, 0, 0, 60%);
  --omi-mask-disabled: rgba(255, 255, 255, 60%);
  --omi-bg-color-page: var(--omi-gray-color-2);
  --omi-bg-color-container: #fff;
  --omi-bg-color-container-hover: var(--omi-gray-color-1);
  --omi-bg-color-container-active: var(--omi-gray-color-3);
  --omi-bg-color-container-select: #fff;
  --omi-bg-color-secondarycontainer: var(--omi-gray-color-1);
  --omi-bg-color-secondarycontainer-hover: var(--omi-gray-color-2);
  --omi-bg-color-secondarycontainer-active: var(--omi-gray-color-4);
  --omi-bg-color-component: var(--omi-gray-color-3);
  --omi-bg-color-component-hover: var(--omi-gray-color-4);
  --omi-bg-color-component-active: var(--omi-gray-color-6);
  --omi-bg-color-component-disabled: var(--omi-gray-color-2);
  --omi-bg-color-specialcomponent: #fff;
  --omi-text-color-primary: var(--omi-font-gray-1);
  --omi-text-color-secondary: var(--omi-font-gray-2);
  --omi-text-color-placeholder: var(--omi-font-gray-3);
  --omi-text-color-disabled: var(--omi-font-gray-4);
  --omi-text-color-anti: #fff;
  --omi-text-color-brand: var(--omi-brand-color-8);
  --omi-text-color-link: var(--omi-brand-color-8);
  --omi-text-color-gray:#606266;
  --omi-icon-color-primary: var(--omi-icon-gray-3);
  --omi-border-level-1-color: var(--omi-gray-color-3);
  --omi-component-stroke: var(--omi-gray-color-3);
  --omi-border-level-2-color: var(--omi-gray-color-4);
  --omi-component-border: var(--omi-gray-color-4);
}

:root[theme-mode=dark] {
  --omi-gray-color-1: #f3f3f3;
  --omi-gray-color-2: #eee;
  --omi-gray-color-3: #e7e7e7;
  --omi-gray-color-4: #dcdcdc;
  --omi-gray-color-5: #c5c5c5;
  --omi-gray-color-6: #a6a6a6;
  --omi-gray-color-7: #8b8b8b;
  --omi-gray-color-8: #777;
  --omi-gray-color-9: #5e5e5e;
  --omi-gray-color-10: #4b4b4b;
  --omi-gray-color-11: #383838;
  --omi-gray-color-12: #2c2c2c;
  --omi-gray-color-13: #242424;
  --omi-gray-color-14: #181818;
  --omi-font-white-1: rgba(255, 255, 255, 90%);
  --omi-font-white-2: rgba(255, 255, 255, 55%);
  --omi-font-white-3: rgba(255, 255, 255, 35%);
  --omi-font-white-4: rgba(255, 255, 255, 22%);
  --omi-font-gray-1: rgba(0, 0, 0, 90%);
  --omi-font-gray-2: rgba(0, 0, 0, 60%);
  --omi-font-gray-3: rgba(0, 0, 0, 40%);
  --omi-font-gray-4: rgba(0, 0, 0, 26%);
  --omi-bg-color-page: var(--omi-gray-color-14);
  --omi-bg-color-container: var(--omi-gray-color-13);
  --omi-bg-color-container-hover: var(--omi-gray-color-12);
  --omi-bg-color-container-active: var(--omi-gray-color-10);
  --omi-bg-color-container-select: var(--omi-gray-color-9);
  --omi-bg-color-secondarycontainer: var(--omi-gray-color-12);
  --omi-bg-color-secondarycontainer-hover: var(--omi-gray-color-11);
  --omi-bg-color-secondarycontainer-active: var(--omi-gray-color-9);
  --omi-bg-color-component: var(--omi-gray-color-11);
  --omi-bg-color-component-hover: var(--omi-gray-color-10);
  --omi-bg-color-component-active: var(--omi-gray-color-9);
  --omi-bg-color-component-disabled: var(--omi-gray-color-12);
  --omi-bg-color-specialcomponent: transparent;
  --omi-text-color-primary: var(--omi-font-white-1);
  --omi-text-color-secondary: var(--omi-font-white-2);
  --omi-text-color-placeholder: var(--omi-font-white-3);
  --omi-text-color-disabled: var(--omi-font-white-4);
  --omi-text-color-anti: #fff;
  --omi-text-color-gray:--omi-gray-color-7;
  --omi-icon-color-primary: var(--omi-font-white-1);
  --omi-border-level-1-color: var(--omi-gray-color-11);
  --omi-component-stroke: var(--omi-gray-color-11);
  --omi-border-level-2-color: var(--omi-gray-color-9);
  --omi-component-border: var(--omi-gray-color-9);
}

:host {
  position: fixed;
  z-index: 100000;
}

.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
  left: 0;
  top: 0;
}

.o-dialog {
  position: relative;
  background: var(--omi-bg-color-container);
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.o-dialog.is-fullscreen {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
  overflow: auto;
}

.o-dialog__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  margin: 0;
}

.o-dialog__header {
  padding: 20px 20px 10px;
}

.o-dialog__headerbtn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  background: 0 0;
  border: none;
  outline: 0;
  cursor: pointer;
  font-size: 16px;
}

.o-dialog__headerbtn .o-dialog__close {
  color: #909399;
}

.o-dialog__headerbtn:focus .o-dialog__close,
.o-dialog__headerbtn:hover .o-dialog__close {
  color: #409EFF;
}

.o-dialog__title {
  line-height: 24px;
  font-size: 18px;
  color: var(--omi-text-color-primary);
}

.o-dialog__body {
  padding: 30px 20px;
  color: var(--omi-text-color-primary);
  font-size: 14px;
  word-break: break-all;
}

.o-dialog__footer {
  padding: 10px 20px 20px;
  text-align: right;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.o-dialog--center {
  text-align: center;
}

.o-dialog--center .o-dialog__body {
  text-align: initial;
  padding: 25px 25px 30px;
}

.o-dialog--center .o-dialog__footer {
  text-align: inherit;
}

.dialog-zoom-enter-active {
  -webkit-animation: dialog-zoom-in 0.3s;
  animation: dialog-zoom-in 0.3s;
}

.dialog-zoom-leave-active {
  -webkit-animation: dialog-zoom-out 0.3s;
  animation: dialog-zoom-out 0.3s;
}

@-webkit-keyframes dialog-zoom-in {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes dialog-zoom-in {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes dialog-zoom-out {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0;
  }
}
@keyframes dialog-zoom-out {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0;
  }
}
.mask-enter-active {
  -webkit-animation: mask-in 0.3s;
  animation: mask-in 0.3s;
}

.mask-leave-active {
  -webkit-animation: mask-out 0.3s;
  animation: mask-out 0.3s;
}

@-webkit-keyframes mask-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mask-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes mask-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes mask-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.content {
  z-index: 101;
}

/*# sourceMappingURL=index.css.map */
