.text {
  font-size: 60px;
  font-family: cursive;
}


/* line 19, ../../src/css/source/_chat.scss */
svg {
  width: 100%;
  height: 100%;
}

/* line 27, ../../src/css/source/_chat.scss */
.use-text {
  fill: none;
  stroke: white;
  stroke-dashoffset: 35%;
  stroke-dasharray: 0 87.5%;
  stroke-width: 2px;

}

/* line 38, ../../src/css/source/_chat.scss "#33B5E5","#0099CC","#AA66CC","#9933CC","#99CC00","#669900","#FFBB33","#FF8800","#FF4444","#CC0000"*/
.use-text:nth-child(1) {
  stroke: #777e7a;
  animation: animation1 8s infinite ease-in-out forwards;

}

/* line 38, ../../src/css/source/_chat.scss */
.use-text:nth-child(2) {
  stroke: #777e7a;
  animation: animation2 8s infinite ease-in-out forwards;

}

/* line 38, ../../src/css/source/_chat.scss */
.use-text:nth-child(3) {
  stroke: #777e7a;
  animation: animation3 8s infinite ease-in-out forwards;

}

/* line 38, ../../src/css/source/_chat.scss */
.use-text:nth-child(4) {
  stroke: #777e7a;
  animation: animation4 8s infinite ease-in-out forwards;

}

/* line 38, ../../src/css/source/_chat.scss */
.use-text:nth-child(5) {
  stroke: #777e7a;
  animation: animation5 8s infinite ease-in-out forwards;

}

.use-omi {
  fill: none;
  stroke: white;
  stroke-dashoffset: 35%;
  stroke-dasharray: 0 87.5%;
  stroke-width: 2px;

}

.use-omi:nth-child(1) {
  stroke: #13C395;
  stroke: var(--o-primary);
  animation: animation1 8s infinite ease-in-out forwards;

}

/* line 38, ../../src/css/source/_chat.scss */
.use-omi:nth-child(2) {
  stroke: #13C395;
  stroke: var(--o-primary);
  animation: animation2 8s infinite ease-in-out forwards;

}

/* line 38, ../../src/css/source/_chat.scss */
.use-omi:nth-child(3) {
  stroke: #13C395;
  stroke: var(--o-primary);
  animation: animation3 8s infinite ease-in-out forwards;

}

/* line 38, ../../src/css/source/_chat.scss */
.use-omi:nth-child(4) {
  stroke: #13C395;
  stroke: var(--o-primary);
  animation: animation4 8s infinite ease-in-out forwards;

}

/* line 38, ../../src/css/source/_chat.scss */
.use-omi:nth-child(5) {
  stroke: #13C395;
  stroke: var(--o-primary);
  animation: animation5 8s infinite ease-in-out forwards;

}

@keyframes animation1 {
  50% {
    stroke-dasharray: 7% 28%;
    stroke-dashoffset: 7%;
  }

  70% {
    stroke-dasharray: 7% 28%;
    stroke-dashoffset: 7%;
  }
}

@keyframes animation2 {
  50% {
    stroke-dasharray: 7% 28%;
    stroke-dashoffset: 14%;
  }

  70% {
    stroke-dasharray: 7% 28%;
    stroke-dashoffset: 14%;
  }
}

@keyframes animation3 {
  50% {
    stroke-dasharray: 7% 28%;
    stroke-dashoffset: 21%;
  }

  70% {
    stroke-dasharray: 7% 28%;
    stroke-dashoffset: 21%;
  }
}

@keyframes animation4 {
  50% {
    stroke-dasharray: 7% 28%;
    stroke-dashoffset: 28%;
  }

  70% {
    stroke-dasharray: 7% 28%;
    stroke-dashoffset: 28%;
  }
}

@keyframes animation5 {
  50% {
    stroke-dasharray: 7% 28%;
    stroke-dashoffset: 35%;
  }

  70% {
    stroke-dasharray: 7% 28%;
    stroke-dashoffset: 35%;
  }
}