<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/src/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Omiu Chart Card</title>
    <script type="module" src="/src/index.tsx"></script>
   
    <script src="https://cdn.jsdelivr.net/npm/omi"></script>
    <script src="https://cdn.jsdelivr.net/npm/@omiu/icon@0.0.2/people.js"></script>
  </head>
  <body style="background-color: #eee">
    <o-chart-card chart-type="bar" content="9987" describe="Members online" color="#39f" data="[12, 19, 3, 5, 2, 3]" labels="['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange']">
      <o-icon-people width="2em" height="2em" style="font-size: 3em;"></o-icon-people>
    </o-chart-card>
    
  </body>

</html>
