:host {
  display: inline-block;
}

* {
  box-sizing: border-box;
}

.o-link {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid transparent;
}

.o-link:hover {
  color: #07c160;
  color: var(--o-primary, #07c160);
}

.o-link.is-underline:hover {
  border-bottom: 1px solid #07c160;
  border-bottom: 1px solid var(--o-primary, #07c160);
}

.o-link:active {
  color: #059048;
  color: var(--o-primary-active, #059048);
}

.o-link-primary {
  color: #07c160;
  color: var(--o-primary, #07c160);
}

.o-link-primary:hover {
  color: var(--o-primary-fade-little, );
}

.o-link-primary:active {
  color: var(--o-primary-active, );
}

.o-link-primary.is-underline:hover {
  border-bottom: 1px solid;
  border-bottom: 1px solid var(--o-primary-fade-little, );
}

.o-link-danger {
  color: #fa5151;
  color: var(--o-danger, #fa5151);
}

.o-link-danger:hover {
  color: var(--o-danger-fade-little, );
}

.o-link-danger:active {
  color: var(--o-danger-active, );
}

.o-link-danger.is-underline:hover {
  border-bottom: 1px solid;
  border-bottom: 1px solid var(--o-danger-fade-little, );
}

.o-link.is-disabled,
.o-link.is-disabled:focus,
.o-link.is-disabled:hover {
  color: #c0c4cc;
  cursor: not-allowed;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
