@import '../../common/scss/theme';

div {
  color: $o-text-color-primary;
}

* {
  box-sizing: border-box;
}

ul,
li {
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  vertical-align: middle;
  line-height: 32px;
  text-align: center;
  margin: 0 3px 0 3px;

  border-radius: 3px;
  font-size: 12px;
  margin-right: 2px;
}

.o-pager {
  display: inline-block;
}

button {
  width: 32px;
  height: 32px;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background: none;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  color:$o-text-color-primary;
  border-radius: 50%;
}

button:hover {
  background-color: $o-primary-fade-lot;
  background-color: var(--o-primary-fade-lot, $o-primary-fade-lot);
}

button:not(disabled):active {
  color: white;
  background-color: $o-primary-active;
  background-color: var(--o-primary-active, $o-primary-active);
}

button:disabled {
  pointer-events: none;
  border-color: #eee;
}

.active button:hover {
  background-color: $o-primary-fade-little;
  background-color: var(--o-primary-fade-little, $o-primary-fade-little);
}

.active button {
  color: white;
  background-color: $o-primary;
  background-color: var(--o-primary, $o-primary);
}

.more:after {
  content: '...';
}

.more {
  border: none;
  cursor: default;
}

svg {
  position: relative;
  top: 2px;
  color:$o-text-color-primary;
}
