@import "../theme";

.m-table {
  background: white;
  margin: auto;
  padding: 5px;
  width: 100%;
  animation: float 5s infinite;
  border-spacing: 0;
  border-collapse: collapse;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
}

.m-table-checkbox th:first-child,.m-table-checkbox td:first-child{
	padding: 2px 40px 2px 16px;
}

th {
  border-bottom: 1px solid #E0E0E0;
  text-align: left;
  vertical-align: middle;
  padding: 14px 40px 14px 16px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.75rem;
  line-height: 1.3125rem;
  font-weight: 500;
}

tr {
  border-bottom: 1px solid #E0E0E0;
}

tr:hover td {
  background: #f5f5f5;
}

td {
  text-align: left;
  vertical-align: middle;
  font-size: 0.875rem;
  padding: 14px 40px 14px 16px;
}

a {
  text-decoration: none;
  color: $mdc-theme-secondary;
}
