name: pr-spell-check
on: [pull_request]

jobs:
  run:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Check spelling
      uses: crate-ci/typos@master
      with: 
        config: .github/workflows/typos-config.toml