.o-popup {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  left:0;
  top: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 100;
}

._content {
  width: 80%;
  height: auto;
  min-height: 200px;
  background-color: white;
  position: fixed;
  left: 50%;
  margin-left: -40%; 
  top: 20%;
  border-radius: 4px; 
}

._header {
  height: 40px;
  border-bottom: 1px solid #ccc;
  margin: 15px 10px; 
}

._close{
  position: absolute;
  right: 10px;
  top: 20px;
  cursor: pointer;
}

._title{
  position: absolute;
  left: 10px;
  top: 20px;
}

._main{
  margin: 0 auto;
 
  margin-bottom: 20px; 
  width: 70%;
}

._footer{
  text-align: right;
  margin-top: 10px;
}

._okBtn{
  margin-left: 10px; 
}