.eplayer,
video {
  height: 100%;
  width: 100%;
  color: var(--icons, rgba(255, 255, 255, 0.6));
  font-size: 12px;
  background: #000;
}

.eplayer {
  user-select: none;
  position: relative;
  overflow: hidden;
}

.controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  transition: 0.3s ease-out;
  z-index: 1;
}

.progress {
  position: relative;
  bottom: 15px;
  left: 0;
  right: 0;
  cursor: pointer;
}

.options {
  display: flex;
  align-items: center;
}

.epicon {
  color: var(--icons, rgba(255, 255, 255, 0.6));
  padding: 0 10px;
}

.epicon {
  font-size: 18px;
  transition: 0.3s;
  cursor: pointer;
}

.epicon:hover {
  color: #fff;
}

.time {
  display: inline-block;
  height: 24px;
  line-height: 25px;
  vertical-align: top;
  // position: relative;
  // top: -2px;
}

.time b {
  font-weight: normal;
}

.line {
  padding: 0 1px;
  margin-bottom: -2px;
  cursor: pointer;
}

.line i {
  width: 4px;
  border-radius: 4px;
  display: inline-block;
  background: var(--icons, rgba(255, 255, 255, 0.6));
  height: 12px;
  transform: scaleX(0.7);
  transition: 0.3s;
}

.line:hover i {
  height: 14px;
  background: var(--mdc-theme-primary, #6200ee);
}

.active i {
  background: var(--mdc-theme-primary, #6200ee);
}

.left {
  flex: 1;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bg,
.current,
.buffer {
  left: 0;
  height: 3px;
  position: absolute;
  top: 0;
}

.bg {
  right: 0;
  background: var(--progress, rgba(255, 255, 255, 0.3));
}

.current {
  background: var(--mdc-theme-primary, #6200ee);
}

.buffer {
  background: var(--buffer, rgba(255, 255, 255, 0.5));
}

.dot {
  position: absolute;
  border-radius: 50%;
  display: block;
  background: var(--mdc-theme-primary, #6200ee);
  height: 9px;
  width: 9px;
  right: -5px;
  top: -3px;
  cursor: pointer;
  z-index: 1;
}

.cycle {
  position: absolute;
  border-radius: 50%;
  display: block;
  background: var(--mdc-theme-primary, #6200ee);
  opacity: 0.3;
  height: 15px;
  width: 15px;
  right: -8px;
  top: -6px;
  cursor: pointer;
  z-index: 1;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.playing {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loading {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
  width: 40px;
  height: 40px;
  z-index: 1;
  box-shadow: 2px 0px rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  animation: loading 1s linear infinite;
}

.ep-video {
  position: absolute;
  bottom: 25px;
  right: 20px;
  font-size: 40px;
  color: var(--icons, rgba(255, 255, 255, 0.6));
  z-index: 1;
  cursor: pointer;
  z-index: 1;
}

.icon {
  cursor: pointer;
  color: var(--icons, rgba(255, 255, 255, 0.6));
  display: inline-block;
  height: 24px;
  line-height: 24px;
  vertical-align: top;
}

.icon:hover {
  color: white;
}

.ep-video {
  transform: scale(4);
  transform-origin: right bottom;
}