@import "../../common/scss/theme";
.o-progress-line__bar {
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  vertical-align: middle;
  background-color: #f5f5f5;
  border-radius: 100px; }

.o-progress-line__outer {
  display: inline-block;
  width: 100%;
  margin-right: 0;
  padding-right: 0; }

.o-progress-line__inner-bar {
  position: relative;
  height: 8px;
  background-color: #1890ff;
  border-radius: 100px;
  transition: all 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s; }

.o-progress-line-text {
  display: inline-block;
  width: 2em;
  margin-left: 8px;
  color: $o-text-color-primary;
  font-size: 1em;
  line-height: 1;
  white-space: nowrap;
  text-align: left;
  vertical-align: middle;
  word-break: normal;
  span{

  }
}

.o-progress-circle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: $o-text-color-primary;
  font-size: 1em;
  line-height: 1;
  white-space: normal;
  text-align: center;
  transform: translate(-50%, -50%); }

.o-progress-circle__inner {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  line-height: 1;
  background-color: transparent; }
