.o-progress__bar{
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    vertical-align: middle;
    background-color: #f5f5f5;
    border-radius: 100px;
}
.o-progress__outer {
    display: inline-block;
    width: 100%;
    margin-right: 0;
    padding-right: 0;
}
.o-progress__inner-bar {
    position: relative;
    height:8px;
    background-color: #1890ff;
    border-radius: 100px;
    transition: all .4s cubic-bezier(.08,.82,.17,1) 0s;
}
.o-progress-text {
    display: inline-block;
    width: 1em;
    margin-left: 8px;
    color: #000000d9;
    font-size: 1em;
    line-height: 1;
    white-space: nowrap;
    text-align: left;
    vertical-align: middle;
    word-break: normal;
}