.o-input{
  position: relative;
  display: inline-block;
}


input:hover { border: 1px solid #07C160;}
input:focus { border: 1px solid #07C160;}
input:focus:hover { border: 1px solid #07C160;}


input{
  -webkit-appearance: none;
  display: inline-block;
  width: 100%;
  height: 22px;
  line-height: 1.5;
  padding: 4px 7px;
  font-size: 14px;
  outline: none;
  border: 1px solid #DADADA;
  border-radius: 4px;
  color: #515a6e;
  background-color: #fff;
  background-image: none;
  position: relative;
  cursor: text;
  transition: border .2s ease-in-out,background .2s ease-in-out,box-shadow .2s ease-in-out;
  /* caret-color:#07C160; */
  text-indent: 5px;
}