@import "../../common/scss/theme";

:host {
  display: inline-block;
}

:host([block]) {
  display: block;
}

.o-card {
  color:$o-text-color-primary;
  display: flex;
  flex-direction: column;
  background: $o-bg-color-container;

  //background: #FFF;

  &.is-border {
    border: 1px solid $o-border-level-2-color;
  }

  &.is-shadow {
    &-always {
      box-shadow: 0 1px 2px -2px #00000029, 0 3px 6px #0000001f, 0 5px 12px 4px #00000017;
    }
    &-true {
      &:hover {
        box-shadow: 0 1px 2px -2px #00000029, 0 3px 6px #0000001f, 0 5px 12px 4px #00000017;
        transition: all .3s;
      }
    }
  }
}

.o-card-header {
  min-height: 48px;
  padding: 0 24px;
  border-bottom: 1px solid $o-border-level-2-color;
  border-radius: 2px 2px 0 0;
}

.o-card-title {
  float: left;
  padding: 16px 0;
  font-weight: 500;
  font-size: 18px;
}

.o-card-extra {
  float: right;
  margin-left: auto;
  padding: 16px 0;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}
.o-card-body {
  margin: 12px 24px;
  font-weight: 200;
  font-size: 14px;
  line-height: 1.6;
}

.o-card-footer {
  height: 56px;
  display: flex;
  justify-content: center;
  background: $o-bg-color-container;
}

.o-card-btn {
  flex: 1;
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  cursor: pointer;
  outline: none;
  border-top: 1px solid $o-border-level-2-color;
  border-right: 1px solid $o-border-level-2-color;
  border-left: none;
  border-bottom: none;
  background: $o-bg-color-container;
  color: $o-icon-color-primary;
  padding: 6px 12px 8px;

  &:last-child {
    border-right: none;
  }

  &:hover {
    background: $o-bg-color-container-hover;
    color: #07C160;
  }
}

.icon {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: block;
  margin: 0 auto;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
