:root,
:root[theme-mode=light] {
  --omi-gray-color-1: #f3f3f3;
  --omi-gray-color-2: #eee;
  --omi-gray-color-3: #e7e7e7;
  --omi-gray-color-4: #dcdcdc;
  --omi-gray-color-5: #c5c5c5;
  --omi-gray-color-6: #a6a6a6;
  --omi-gray-color-7: #8b8b8b;
  --omi-gray-color-8: #777;
  --omi-gray-color-9: #5e5e5e;
  --omi-gray-color-10: #4b4b4b;
  --omi-gray-color-11: #383838;
  --omi-gray-color-12: #2c2c2c;
  --omi-gray-color-13: #242424;
  --omi-gray-color-14: #181818;
  --omi-font-white-1: rgba(255, 255, 255, 100%);
  --omi-font-white-2: rgba(255, 255, 255, 55%);
  --omi-font-white-3: rgba(255, 255, 255, 35%);
  --omi-font-white-4: rgba(255, 255, 255, 22%);
  --omi-font-gray-1: rgba(0, 0, 0, 90%);
  --omi-font-gray-2: rgba(0, 0, 0, 60%);
  --omi-font-gray-3: rgba(0, 0, 0, 40%);
  --omi-font-gray-4: rgba(0, 0, 0, 26%);
  --omi-font-gray-5: rgba(0, 0, 0, 0.45);
  --omi-font-gray-6: rgba(0, 0, 0, .7);
  --omi-icon-gray-3:rgba(0, 0, 0, 0.54);
  --omi-mask-active: rgba(0, 0, 0, 60%);
  --omi-mask-disabled: rgba(255, 255, 255, 60%);
  --omi-bg-color-page: var(--omi-gray-color-2);
  --omi-bg-color-page-dark: #fff;
  --omi-bg-color-container: #fff;
  --omi-bg-color-container-hover: var(--omi-gray-color-1);
  --omi-bg-color-container-active: var(--omi-gray-color-3);
  --omi-bg-color-container-select: #fff;
  --omi-bg-color-secondarycontainer: var(--omi-gray-color-1);
  --omi-bg-color-secondarycontainer-hover: var(--omi-gray-color-2);
  --omi-bg-color-secondarycontainer-active: var(--omi-gray-color-4);
  --omi-bg-color-component: var(--omi-gray-color-3);
  --omi-bg-color-component-hover: var(--omi-gray-color-4);
  --omi-bg-color-component-active: var(--omi-gray-color-6);
  --omi-bg-color-component-disabled: var(--omi-gray-color-2);
  --omi-bg-cascader-hover:#f1fff8;
  --omi-treenode-focus:#f5f7fa;
  --omi-bg-table-th:#fafafa;
  --omi-bg-color-specialcomponent: #fff;
  --omi-text-color-primary: var(--omi-font-gray-1);
  --omi-text-color-secondary: var(--omi-font-gray-2);
  --omi-text-color-placeholder: var(--omi-font-gray-3);
  --omi-text-color-disabled: var(--omi-font-gray-4);
  --omi-text-color-anti: #fff;
  --omi-text-color-gray:#606266;
  --omi-text-color-gray-5:var(--omi-font-gray-5);
  --omi-text-color-gray-6:var(--omi-font-gray-6);
  --omi-icon-color-primary: var(--omi-icon-gray-3);
  --omi-border-level-1-color: var(--omi-gray-color-3);
  --omi-component-stroke: var(--omi-gray-color-3);
  --omi-border-level-2-color: var(--omi-gray-color-4);
  --omi-component-border: var(--omi-gray-color-4);
}

:root[theme-mode=dark] {
  --omi-gray-color-1: #f3f3f3;
  --omi-gray-color-2: #eee;
  --omi-gray-color-3: #e7e7e7;
  --omi-gray-color-4: #dcdcdc;
  --omi-gray-color-5: #c5c5c5;
  --omi-gray-color-6: #a6a6a6;
  --omi-gray-color-7: #8b8b8b;
  --omi-gray-color-8: #777;
  --omi-gray-color-9: #5e5e5e;
  --omi-gray-color-10: #4b4b4b;
  --omi-gray-color-11: #383838;
  --omi-gray-color-12: #2c2c2c;
  --omi-gray-color-13: #242424;
  --omi-gray-color-14: #181818;
  --omi-font-white-1: rgba(255, 255, 255, 90%);
  --omi-font-white-2: rgba(255, 255, 255, 55%);
  --omi-font-white-3: rgba(255, 255, 255, 35%);
  --omi-font-white-4: rgba(255, 255, 255, 22%);
  --omi-font-gray-1: rgba(0, 0, 0, 90%);
  --omi-font-gray-2: rgba(0, 0, 0, 60%);
  --omi-font-gray-3: rgba(0, 0, 0, 40%);
  --omi-font-gray-4: rgba(0, 0, 0, 26%);
  --omi-bg-color-page: var(--omi-gray-color-14);
  --omi-bg-color-page-dark: var(--omi-gray-color-14);
  --omi-bg-color-container: var(--omi-gray-color-13);
  --omi-bg-color-container-hover: var(--omi-gray-color-12);
  --omi-bg-color-container-active: var(--omi-gray-color-10);
  --omi-bg-color-container-select: var(--omi-gray-color-9);
  --omi-bg-color-secondarycontainer: var(--omi-gray-color-12);
  --omi-bg-color-secondarycontainer-hover: var(--omi-gray-color-11);
  --omi-bg-color-secondarycontainer-active: var(--omi-gray-color-9);
  --omi-bg-color-component: var(--omi-gray-color-11);
  --omi-bg-color-component-hover: var(--omi-gray-color-10);
  --omi-bg-color-component-active: var(--omi-gray-color-9);
  --omi-bg-color-component-disabled: var(--omi-gray-color-12);
  --omi-bg-cascader-hover:var(--omi-gray-color-11);
  --omi-treenode-focus:var(--omi-gray-color-11);
  --omi-bg-table-th:var(--omi-gray-color-11);
  --omi-bg-color-specialcomponent: transparent;
  --omi-text-color-primary: var(--omi-font-white-1);
  --omi-text-color-secondary: var(--omi-font-white-2);
  --omi-text-color-placeholder: var(--omi-font-white-3);
  --omi-text-color-disabled: var(--omi-font-white-4);
  --omi-text-color-anti: #fff;
  --omi-text-color-gray:--omi-gray-color-7;
  --omi-text-color-gray-5:var(--omi-font-white-3);
  --omi-text-color-gray-6:var(--omi-font-white-2);
  --omi-icon-color-primary: var(--omi-font-white-1);
  --omi-border-level-1-color: var(--omi-gray-color-11);
  --omi-component-stroke: var(--omi-gray-color-11);
  --omi-border-level-2-color: var(--omi-gray-color-9);
  --omi-component-border: var(--omi-gray-color-9);
}

:host {
  display: inline-block;
}

:host([block]) {
  display: block;
}

.o-card {
  color: var(--omi-text-color-primary);
  display: flex;
  flex-direction: column;
  background: var(--omi-bg-color-container);
}
.o-card.is-border {
  border: 1px solid var(--omi-border-level-2-color);
}
.o-card.is-shadow-always {
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.1607843137), 0 3px 6px rgba(0, 0, 0, 0.1215686275), 0 5px 12px 4px rgba(0, 0, 0, 0.0901960784);
}
.o-card.is-shadow-true:hover {
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.1607843137), 0 3px 6px rgba(0, 0, 0, 0.1215686275), 0 5px 12px 4px rgba(0, 0, 0, 0.0901960784);
  transition: all 0.3s;
}

.o-card-header {
  min-height: 48px;
  padding: 0 24px;
  border-bottom: 1px solid var(--omi-border-level-2-color);
  border-radius: 2px 2px 0 0;
}

.o-card-title {
  float: left;
  padding: 16px 0;
  font-weight: 500;
  font-size: 18px;
}

.o-card-extra {
  float: right;
  margin-left: auto;
  padding: 16px 0;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.o-card-body {
  margin: 12px 24px;
  font-weight: 200;
  font-size: 14px;
  line-height: 1.6;
}

.o-card-footer {
  height: 56px;
  display: flex;
  justify-content: center;
  background: var(--omi-bg-color-container);
}

.o-card-btn {
  flex: 1;
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  cursor: pointer;
  outline: none;
  border-top: 1px solid var(--omi-border-level-2-color);
  border-right: 1px solid var(--omi-border-level-2-color);
  border-left: none;
  border-bottom: none;
  background: var(--omi-bg-color-container);
  color: var(--omi-icon-color-primary);
  padding: 6px 12px 8px;
}
.o-card-btn:last-child {
  border-right: none;
}
.o-card-btn:hover {
  background: var(--omi-bg-color-container-hover);
  color: #07C160;
}

.icon {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: block;
  margin: 0 auto;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
