.o-tree {
  position: relative;
  width: 240px;
  height: auto;
  min-height: 200px;
}

.bg-wp {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
}

.tree-wp {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 240px;
}

.tree-wp>li {
  margin-left: 10px;
}

.bg {
  width: 100%;
  height: 32px;
}

.bg:nth-child(even) {
  background: #393B45
}

.bg:nth-child(odd) {
  background: #3D3F49
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0
}