@import "../theme.scss";

:host {
	display: inline-block;
}

.o-button {
	display: inline-block;
	line-height: 1;
	white-space: nowrap;
	cursor: pointer;
	background: #fff;
	border: 1px solid #dcdfe6;
	color: #606266;
	-webkit-appearance: none;
	text-align: center;
	box-sizing: border-box;
	outline: none;
	margin: 0;
	transition: .1s;
	font-weight: 500;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	padding: 12px 20px;
	font-size: 14px;
	border-radius: 4px;
}


.o-button:hover {
	border-color: $o-primary-hover-border;
	border-color: var(--o-primary-hover-border, $o-primary-hover-border);
	color: $o-primary;
	color: var(--o-primary, $o-primary);
	background-color: $o-primary-hover-bg;
	background-color: var(--o-primary-hover-bg, $o-primary-hover-bg);
}

.o-button:active {
	color: $o-primary;
	color: var(--o-primary, $o-primary);
	border-color: $o-primary;
	border-color: var(--o-primary, $o-primary);
	outline: none
}

$type-list: primary danger;

@each $type in $type-list {
	.o-button-#{$type} {
		color: #fff;
		background-color: map-get($options, $type);
		border-color: map-get($options, $type);
		background-color: var(--o-#{$type}, map-get($options, $type));
		border-color: var(--o-#{$type}, map-get($options, $type));
	}


	.o-button-#{$type}.o-button-plain {
		color:map-get($options, $type);
		color: var(--o-#{$type}, map-get($options, $type));
		background-color: map-get($options, $type#{-fade-lot});
		background-color: var(--o-#{$type}-fade-lot, map-get($options, $type#{-fade-lot}));
		border-color: map-get($options, $type#{-fade-some});
		border-color: var(--o-#{$type}-fade-some, map-get($options, $type#{-fade-some}));
	}

	.o-button-#{$type}:hover {
		background-color:  map-get($options, $type#{-fade-little});
		border-color:  map-get($options, $type#{-fade-little});
		background-color: var(--o-#{$type}-fade-little,  map-get($options, $type#{-fade-little}));
		border-color: var(--o-#{$type}-fade-little,  map-get($options, $type#{-fade-little}));
		color: #fff;
	}

	.o-button-#{$type}:active {
		background-color: map-get($options, $type#{-active});
		border-color: map-get($options, $type#{-active});
		background-color: var(--o-#{$type}-active, map-get($options, $type#{-active}));
		border-color: var(--o-#{$type}-active, map-get($options, $type#{-active}));
		color: #fff
	}
}


.loading {
  width: 1em;
  height: 1em;
  display: inline-block;
  animation: loading 1s steps(12, end) infinite;
  background: transparent url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 100 100'%3E%3Cpath fill='none' d='M0 0h100v100H0z'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23E9E9E9' rx='5' ry='5' transform='translate(0 -30)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23989697' rx='5' ry='5' transform='rotate(30 105.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%239B999A' rx='5' ry='5' transform='rotate(60 75.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23A3A1A2' rx='5' ry='5' transform='rotate(90 65 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23ABA9AA' rx='5' ry='5' transform='rotate(120 58.66 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23B2B2B2' rx='5' ry='5' transform='rotate(150 54.02 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23BAB8B9' rx='5' ry='5' transform='rotate(180 50 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23C2C0C1' rx='5' ry='5' transform='rotate(-150 45.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23CBCBCB' rx='5' ry='5' transform='rotate(-120 41.34 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23D2D2D2' rx='5' ry='5' transform='rotate(-90 35 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23DADADA' rx='5' ry='5' transform='rotate(-60 24.02 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23E2E2E2' rx='5' ry='5' transform='rotate(-30 -5.98 65)'/%3E%3C/svg%3E") no-repeat;
	background-size: 100%;
	vertical-align: -0.125em;
}


@-webkit-keyframes loading {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
@keyframes loading {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
