var handleInvoice = function (invoiceData) {
  if (!invoiceData || invoiceData.invoiceType == 0) {
    return '暂不开发票';
  }
  var title = invoiceData.titleType == 2 ? '公司' : '个人';
  var content = invoiceData.contentType == 2 ? '商品类别' : '商品明细';
  return invoiceData.email
    ? '电子普通发票 (' + content + ' - ' + title + ')'
    : '暂不开发票';
};
module.exports = handleInvoice;
