.device, .device::before, .device::after, .device *, .device *::before, .device *::after {
    box-sizing: border-box;
    display: block;
}

.device {
    position: relative;
    transform: scale(1);
    z-index: 1;
}

.device .device-frame {
    z-index: 1;
}

.device .device-content {
    background-color: #fff;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}

.device-iphone-13 {
    height: 868px;
    width: 428px;
}

.device-iphone-13 .device-frame {
    background: #222;
    border-radius: 60px;
    box-shadow: inset 0 0 2px 2px #c8cacb, inset 0 0 0 7px #e2e3e4;
    height: 868px;
    padding: 28px;
    width: 428px;
}

.device-iphone-13 .device-content {
    border-radius: 36px;
    height: 812px;
    width: 375px;
}

.device-iphone-13 .device-stripe::after, .device-iphone-13 .device-stripe::before {
    border: solid rgba(51, 51, 51, 0.25);
    border-width: 0 7px;
    content: "";
    height: 7px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 9;
}

.device-iphone-13 .device-stripe::after {
    top: 85px;
}

.device-iphone-13 .device-stripe::before {
    bottom: 85px;
}

.device-iphone-13 .device-header {
    background: #222;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 26px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 27px;
    width: 136px;
}

.device-iphone-13 .device-header::after, .device-iphone-13 .device-header::before {
    content: "";
    height: 10px;
    position: absolute;
    top: 0;
    width: 10px;
}

.device-iphone-13 .device-header::after {
    background: radial-gradient(circle at bottom left, transparent 0, transparent 75%, #222 75%, #222 100%);
    left: -10px;
}

.device-iphone-13 .device-header::before {
    background: radial-gradient(circle at bottom right, transparent 0, transparent 75%, #222 75%, #222 100%);
    right: -10px;
}

.device-iphone-13 .device-sensors::after, .device-iphone-13 .device-sensors::before {
    content: "";
    position: absolute;
}

/* .device-iphone-13 .device-sensors::after {
    background: #444;
    border-radius: 3px;
    height: 6px;
    left: 50%;
    margin-left: -25px;
    top: 32px;
    width: 50px;
}

.device-iphone-13 .device-sensors::before {
    background: #444;
    border-radius: 50%;
    height: 14px;
    left: 50%;
    margin-left: 40px;
    top: 28px;
    width: 14px;
} */

.device-iphone-13 .device-btns {
    background: #c8cacb;
    height: 32px;
    left: -3px;
    position: absolute;
    top: 115px;
    width: 3px;
}

.device-iphone-13 .device-btns::after, .device-iphone-13 .device-btns::before {
    background: #c8cacb;
    content: "";
    height: 62px;
    left: 0;
    position: absolute;
    width: 3px;
}

.device-iphone-13 .device-btns::after {
    top: 60px;
}

.device-iphone-13 .device-btns::before {
    top: 140px;
}

.device-iphone-13 .device-power {
    background: #c8cacb;
    height: 100px;
    right: -3px;
    position: absolute;
    top: 200px;
    width: 3px;
}

.device-iframes-13 {
    border: none;
}