/**index.wxss**/
.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userinfo-avatar {
  width: 128rpx;
  height: 128rpx;
  margin: 20rpx;
  border-radius: 50%;
}

.userinfo-nickname {
  color: #aaa;
}

.title{
    width: 100%;
    font-size: 100rpx;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.55);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

.new-todo{
  height: 80rpx;
  border: none;
  padding-left: 20rpx;
  /* background: rgba(0, 0, 0, 0.003); */
  display: inline-block;
  width: 570rpx;
}
.new-todo:after{
  border: none;
}

.add-btn{
  position: absolute;
  width: 20%;
  min-width: 70px;
  height: 80rpx;
  right: 0px;
  top:0px;
  border-left: 1px solid #ccc;
  border-radius: 0px;
  outline: none;
  appearance: none;
  -webkit-appearance:none;
  background: none;
  line-height:82rpx;
  text-align:center;
}

.add-btn:after {
  border: none;
}

.form{
  position: relative;
  width: 100%;
  height: 80rpx;
  border: 1px solid #ccc;
}

.todo-list{
  width: 100%;
  padding-bottom: 100rpx;
}

.todo-item{
  position: relative;
 height: 100rpx;
 line-height: 100rpx;
 padding-left: 145rpx;
 border-bottom: 1px solid #ddd;
}

.toggle{
  position: absolute;
  left:20rpx;
  width: 60rpx;
  top:20rpx;
  height: 60rpx;
  border-radius: 50%;
  border: 1px solid #ccc;
  display: inline-block;
}

.toggle:after{
  display: none;
}

.done .toggle:after{
  display: block;
  content: '✔';
  position: relative;
  top:-19rpx;
  left:16rpx;
  color: #79ddce;
}

.delete{
  position: absolute;
  right:20rpx;
  width: 80rpx;
  text-align: center;
  height:80rpx;
  display: inline-block;
  color: rgba(175, 47, 47, 0.5);
  top:0px;
}

.delete:after{
  content: '✕'
}

.done{
    color: #d9d9d9;
    text-decoration: line-through;
}

todo-footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: white;
}

.github{
  width: 60rpx;
  height: 60rpx;
  position: absolute;
  right: 30rpx;
  top: 50rpx;
}


.add-btn:active{
  background-color: #ddd;
}
