@import '../node_modules/@omiu/common/scss/theme.scss';

.o-input-number {
  position: relative;
  display: inline-block;
}
.o-input-number-medium {
  height: 40px;
  width: 172px;
}
.o-input-number-small {
  height: 34px;
  width: 146px;
}
.o-input-number-mini {
  height: 30px;
  width: 130px;
}
.o-button,
.o-input {
  position: absolute;
  height: 100%;
  line-height: 100%;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  font-weight: 500;
  transition: 0.1s;
  vertical-align: top;
}
.o-button {
  width: 25%;
  line-height: 15%;
}
.o-input {
  left: 25%;
  width: 50%;
}
.o-button-add {
  right: 0;
  border-bottom-right-radius: 0.3em;
  border-top-right-radius: 0.3em;
  border-left: none;
}
.o-button-sub {
  left: 0;
  border-bottom-left-radius: 0.3em;
  border-top-left-radius: 0.3em;
  border-right: none;
}
// is-disabled:ture
.o-input-number.is-disabled .o-input,
.o-input-number.is-disabled:hover .o-input,
.o-input-number.is-disabled .o-button,
.o-input-number.is-disabled:hover .o-button {
  background-color: #f5f7fa;
  border-color: #e4e7ed;
  color: #e4e7ed;
  pointer-events: none;
}
.o-input-number.is-disabled {
  cursor: not-allowed;
}
.o-input-number:hover .o-input {
  color: $o-primary;
  color: var(--o-primary, $o-primary);
  border-top-color: $o-primary;
  border-top-color: var(--o-primary, $o-primary);
  border-bottom-color: $o-primary;
  border-bottom-color: var(--o-primary, $o-primary);
}
.o-input-number:hover .o-button {
  color: $o-primary;
  color: var(--o-primary, $o-primary);
  border-color: $o-primary;
  border-color: var(--o-primary, $o-primary);
}
.o-input-number-medium .o-button,
.o-input-number-medium .o-input {
  font-size: 20px;
}
.o-input-number-small .o-button,
.o-input-number-small .o-input {
  font-size: 17px;
}
.o-input-number-mini .o-button,
.o-input-number-mini .o-input {
  font-size: 14px;
}

// style:right, buttons are on the right
.o-input-right {
  left: 0;
  width: 75%;
  border-radius: 0.3em 0 0 0.3em;
}
.o-button-add-right {
  right: 0;
  top: 0;
  height: 50%;
  border-radius: 0 0.3em 0 0;
}
.o-button-sub-right {
  margin-left: 75%;
  bottom: 0;
  height: 50%;
  border-width: 0 1px 1px 0;
  border-right: 1px solid #dcdfe6;
  border-radius: 0 0 0.3em 0;
}
.o-input-number:hover .o-input-right {
  border-left-color: $o-primary;
  border-left-color: var(--o-primary, $o-primary);
}
.o-input-number:hover .o-button-sub-right {
  border-right-color: $o-primary;
  border-right-color: var(--o-primary, $o-primary);
}
.o-input-number:hover .o-button-add-right {
  border-bottom-color: #dcdfe6;
}

// style:left, buttons are on the left
.o-input-left {
  right: 0;
  width: 75%;
  border-radius: 0 0.3em 0.3em 0;
}
.o-button-add-left {
  left: 0;
  top: 0;
  height: 50%;
  border-left: 1px solid #dcdfe6;
  border-radius: 0.3em 0 0 0;
  border-width: 1px 0 1px 1px;
}
.o-button-sub-left {
  margin-right: 75%;
  bottom: 0;
  height: 50%;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 0 0.3em;
}
.o-input-number:hover .o-input-left {
  border-right-color: $o-primary;
  border-right-color: var(--o-primary, $o-primary);
}
.o-input-number:hover .o-button-sub-left {
  border-left-color: $o-primary;
  border-left-color: var(--o-primary, $o-primary);
}
.o-input-number:hover .o-button-add-left {
  border-bottom-color: #dcdfe6;
}
.o-input-number:hover .o-button-sub-disabled,
.o-button-sub-disabled,
.o-input-number:hover .o-button-add-disabled,
.o-button-add-disabled {
  color: #e4e7ed;
  cursor: not-allowed;
}
