@import "../theme";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";

.m-drawer-frame-root {
  display: flex;
  height: 100vh;
}

.m-drawer-content {
  overflow: auto;
  height: 100%;
}

// .app-bar {
//   position: absolute;
// }

// // only apply this style if below top app bar
// .mdc-top-app-bar {
//   z-index: 7;
// }