@import "../theme";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";

.m-drawer-frame-root {
  display: flex;
  height: 100vh;
}

.m-drawer-content {
  overflow: auto;
  height: 100%;
  word-break: break-all;
}

// Solve the 'drawer' pull out animation problem
.transition-mode1 {
  transition: .3s;
  -moz-transition: .3s; /* Firefox 4 */
  -webkit-transition: .3s; /* Safari å’Œ Chrome */
  -o-transition: .3s; /* Opera */
}

.m-dialog-content-focus {
  display: block;
  margin-top: -16px;
}

// .app-bar {
//   position: absolute;
// }

// // only apply this style if below top app bar
// .mdc-top-app-bar {
//   z-index: 7;
// }