:root,
:root[theme-mode=light] {
  --omi-gray-color-1: #f3f3f3;
  --omi-gray-color-2: #eee;
  --omi-gray-color-3: #e7e7e7;
  --omi-gray-color-4: #dcdcdc;
  --omi-gray-color-5: #c5c5c5;
  --omi-gray-color-6: #a6a6a6;
  --omi-gray-color-7: #8b8b8b;
  --omi-gray-color-8: #777;
  --omi-gray-color-9: #5e5e5e;
  --omi-gray-color-10: #4b4b4b;
  --omi-gray-color-11: #383838;
  --omi-gray-color-12: #2c2c2c;
  --omi-gray-color-13: #242424;
  --omi-gray-color-14: #181818;
  --omi-font-white-1: rgba(255, 255, 255, 100%);
  --omi-font-white-2: rgba(255, 255, 255, 55%);
  --omi-font-white-3: rgba(255, 255, 255, 35%);
  --omi-font-white-4: rgba(255, 255, 255, 22%);
  --omi-font-gray-1: rgba(0, 0, 0, 90%);
  --omi-font-gray-2: rgba(0, 0, 0, 60%);
  --omi-font-gray-3: rgba(0, 0, 0, 40%);
  --omi-font-gray-4: rgba(0, 0, 0, 26%);
  --omi-icon-gray-3:rgba(0, 0, 0, 0.54);
  --omi-mask-active: rgba(0, 0, 0, 60%);
  --omi-mask-disabled: rgba(255, 255, 255, 60%);
  --omi-bg-color-page: var(--omi-gray-color-2);
  --omi-bg-color-container: #fff;
  --omi-bg-color-container-hover: var(--omi-gray-color-1);
  --omi-bg-color-container-active: var(--omi-gray-color-3);
  --omi-bg-color-container-select: #fff;
  --omi-bg-color-secondarycontainer: var(--omi-gray-color-1);
  --omi-bg-color-secondarycontainer-hover: var(--omi-gray-color-2);
  --omi-bg-color-secondarycontainer-active: var(--omi-gray-color-4);
  --omi-bg-color-component: var(--omi-gray-color-3);
  --omi-bg-color-component-hover: var(--omi-gray-color-4);
  --omi-bg-color-component-active: var(--omi-gray-color-6);
  --omi-bg-color-component-disabled: var(--omi-gray-color-2);
  --omi-bg-color-specialcomponent: #fff;
  --omi-text-color-primary: var(--omi-font-gray-1);
  --omi-text-color-secondary: var(--omi-font-gray-2);
  --omi-text-color-placeholder: var(--omi-font-gray-3);
  --omi-text-color-disabled: var(--omi-font-gray-4);
  --omi-text-color-anti: #fff;
  --omi-text-color-brand: var(--omi-brand-color-8);
  --omi-text-color-link: var(--omi-brand-color-8);
  --omi-text-color-gray:#606266;
  --omi-icon-color-primary: var(--omi-icon-gray-3);
  --omi-border-level-1-color: var(--omi-gray-color-3);
  --omi-component-stroke: var(--omi-gray-color-3);
  --omi-border-level-2-color: var(--omi-gray-color-4);
  --omi-component-border: var(--omi-gray-color-4);
}

:root[theme-mode=dark] {
  --omi-gray-color-1: #f3f3f3;
  --omi-gray-color-2: #eee;
  --omi-gray-color-3: #e7e7e7;
  --omi-gray-color-4: #dcdcdc;
  --omi-gray-color-5: #c5c5c5;
  --omi-gray-color-6: #a6a6a6;
  --omi-gray-color-7: #8b8b8b;
  --omi-gray-color-8: #777;
  --omi-gray-color-9: #5e5e5e;
  --omi-gray-color-10: #4b4b4b;
  --omi-gray-color-11: #383838;
  --omi-gray-color-12: #2c2c2c;
  --omi-gray-color-13: #242424;
  --omi-gray-color-14: #181818;
  --omi-font-white-1: rgba(255, 255, 255, 90%);
  --omi-font-white-2: rgba(255, 255, 255, 55%);
  --omi-font-white-3: rgba(255, 255, 255, 35%);
  --omi-font-white-4: rgba(255, 255, 255, 22%);
  --omi-font-gray-1: rgba(0, 0, 0, 90%);
  --omi-font-gray-2: rgba(0, 0, 0, 60%);
  --omi-font-gray-3: rgba(0, 0, 0, 40%);
  --omi-font-gray-4: rgba(0, 0, 0, 26%);
  --omi-bg-color-page: var(--omi-gray-color-14);
  --omi-bg-color-container: var(--omi-gray-color-13);
  --omi-bg-color-container-hover: var(--omi-gray-color-12);
  --omi-bg-color-container-active: var(--omi-gray-color-10);
  --omi-bg-color-container-select: var(--omi-gray-color-9);
  --omi-bg-color-secondarycontainer: var(--omi-gray-color-12);
  --omi-bg-color-secondarycontainer-hover: var(--omi-gray-color-11);
  --omi-bg-color-secondarycontainer-active: var(--omi-gray-color-9);
  --omi-bg-color-component: var(--omi-gray-color-11);
  --omi-bg-color-component-hover: var(--omi-gray-color-10);
  --omi-bg-color-component-active: var(--omi-gray-color-9);
  --omi-bg-color-component-disabled: var(--omi-gray-color-12);
  --omi-bg-color-specialcomponent: transparent;
  --omi-text-color-primary: var(--omi-font-white-1);
  --omi-text-color-secondary: var(--omi-font-white-2);
  --omi-text-color-placeholder: var(--omi-font-white-3);
  --omi-text-color-disabled: var(--omi-font-white-4);
  --omi-text-color-anti: #fff;
  --omi-text-color-gray:--omi-gray-color-7;
  --omi-icon-color-primary: var(--omi-font-white-1);
  --omi-border-level-1-color: var(--omi-gray-color-11);
  --omi-component-stroke: var(--omi-gray-color-11);
  --omi-border-level-2-color: var(--omi-gray-color-9);
  --omi-component-border: var(--omi-gray-color-9);
}

.o-kanban {
  display: flex;
  overflow: scroll;
  padding: 0.8rem;
}

.o-kanban-column {
  background-color: var(--omi-bg-color-secondarycontainer);
  display: flex;
  flex-direction: column;
  min-width: 15.5rem;
  max-width: 35rem;
  border-radius: 6px;
  padding: 0 0.7rem 1rem;
  margin-right: 1.5rem;
  cursor: grab;
}
.o-kanban-column .o-kanban-column-header > h3 {
  color: var(--omi-text-color-primary);
}
.o-kanban-column .o-kanban-column-header > span {
  color: var(--omi-icon-color-primary);
}

.tasksContainer {
  flex: 1;
}

.o-kanban-column-pop {
  width: 4.7rem;
  background-color: var(--omi-bg-color-container);
  border-radius: 0.2rem;
  position: absolute;
  border: 1px solid var(--omi-border-level-2-color);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  right: 0;
  top: 3rem;
  z-index: 22;
  display: none;
  text-align: center;
}

.o-kanban-column-text {
  color: var(--omi-text-color-primary);
  line-height: 40px;
}
.o-kanban-column-text:hover {
  background-color: var(--omi-bg-color-secondarycontainer);
}

.o-kanban-column-svg {
  color: var(--omi-text-color-primary);
}
.o-kanban-column-svg:hover .o-kanban-column-pop {
  display: block;
}

.o-kanban-column-last {
  width: 15rem;
  background-color: var(--omi-bg-color-secondarycontainer);
  height: 4.2rem;
  border-radius: 6px;
  padding: 0 0.7rem 1rem;
}

.o-kanban-column-input {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}
.o-kanban-column-input .o-kanban-column-input-svg {
  border: 2px solid transparent;
  width: 1rem;
  height: 1rem;
  background-color: var(--omi-bg-color-secondarycontainer);
  color: var(--omi-text-color-primary);
  border-radius: 0.5rem;
  margin: 0.6rem 0.2rem 0;
  display: flex;
}
.o-kanban-column-input .o-kanban-column-input-svg:hover {
  border: 2px solid var(--omi-border-level-2-color);
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
