body {
    padding: 50px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
   
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
h1, h2, h3 {
  font-size: 33px;
  font-weight: normal;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

h2 {
  display: none;
  font-size: 33px;
}
.dir{
    font-size:20px;


}
h3 {
  padding: 5px 0;
  font-size: 18px;
  border-bottom: 3px solid #eee;
}

.box {
  margin: 5px;
  border: 1px solid red;
  color:green;
  text-align: center;
  line-height: 80px;
}

.small {
  width: 80px;
  height: 80px;
  
}
.panel{
    
        border: 1px solid #ccc;
}

a {
  color: #00B5E2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.sandbox {
  margin: 10px 0;
  padding: 5px;
  border: 0px solid #eee;
}

.source {
  font-family: monaco, monospace;

  color: #333;
  
}

.example p {
  color: #333;
}

    .example p code {
        color: black;
        padding: 2px 5px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

.box {
  margin-left: 100px;
}