@import "../theme";
@import "@material/list/mdc-list";

.mdc-list-group__subheader {
  cursor: pointer;
}

.mdc-list {
  overflow: hidden;
}

:not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item::before, :not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item::after {
  background-color: rgba(0,0,0,.01)!important;
}
