.o-timeline{
  font-size: 12px; 
  padding-top: 30px;
  text-align: left;
}

.item{
  border-left: 1px solid #D9D9D9; 
  position: relative;
  height: 50px;
}

.item:last-child{ 
  height: 35px;
}

.circle{
  border-radius:50%;
  background-color: #D9D9D9;
  width: 6px;
  height: 6px;
  position: absolute;
  top:-3px;
  left:-3px;
}

.msgs{
  position: relative;
  top:-5px;
  left: 10px;
}

.left{
  width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.two{
  color: #7C7C7C;
}

.msg{
  height: 15px;
  line-height: 15px;
  vertical-align: top;
  display: inline-block;

}