@import "../theme.scss";


img{
  
  width: 100%;
  height: 100%;
}

.m-avatar.square {
  border-radius: 4px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.m-avatar{
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  background-color: #ccc;
  color: white;
  border-radius: 50%;
  overflow: hidden;
  
 
}



.m-avatar .material-icons{
  line-height: 40px;
  
}