@import "../theme";
@import "@material/card/mdc-card";
@import "@material/typography/mdc-typography";

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.mdc-card__primary,
.mdc-card__secondary {
  padding: 0px 16px 16px;
}

.mdc-typography--subtitle2{
  padding: 0;
  margin: 0;
  opacity: 0.7;
}

.mdc-typography--headline6{
  margin: 10px 0px 0px;
}

.mdc-typography--body2{
  opacity: 0.63;
}