

.col{
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.block{
	display: block;
}


.block>div{
	float: left;
}

.flex{
	display: flex;
}

.col1 {
  width: 4.16666667%;
}

.col2 {
  width: 8.33333333%;
}

.col3 {
  width: 12.5%;
}

.col4 {
  width: 16.66666667%;
}

.col5 {
  width: 20.83333333%;
}

.col6 {
  width: 25%;
}

.col7 {
  width: 29.16666667%;
}

.col8 {
  width: 33.33333333%;
}

.col9 {
  width: 37.5%;
}

.col10 {
  width: 41.66666667%;
}

.col11 {
  width: 45.83333333%;
}

.col12 {
  width: 50%;
}

.col13 {
  width: 54.16666667%;
}

.col14 {
  width: 58.33333333%;
}

.col15 {
  width: 62.5%;
}

.col16 {
  width: 66.66666667%;
}

.col17 {
  width: 70.83333333%;
}

.col18 {
  width: 75%;
}

.col19 {
  width: 79.16666667%;
}

.col20 {
  width: 83.33333333%;
}

.col21 {
  width: 87.5%;
}

.col22 {
  width: 91.66666667%;
}

.col23 {
  width: 95.83333333%;
}

.col24 {
  width: 100%;
}


.offset1 {
  margin-left: 4.16666667%;
}

.offset2 {
  margin-left: 8.33333333%;
}

.offset3 {
  margin-left: 12.5%;
}

.offset4 {
  margin-left: 16.66666667%;
}

.offset5 {
  margin-left: 20.83333333%;
}

.offset6 {
  margin-left: 25%;
}

.offset7 {
  margin-left: 29.16666667%;
}

.offset8 {
  margin-left: 33.33333333%;
}

.offset9 {
  margin-left: 37.5%;
}

.offset10 {
  margin-left: 41.66666667%;
}

.offset11 {
  margin-left: 45.83333333%;
}

.offset12 {
  margin-left: 50%;
}

.offset13 {
  margin-left: 54.16666667%;
}

.offset14 {
  margin-left: 58.33333333%;
}

.offset15 {
  margin-left: 62.5%;
}

.offset16 {
  margin-left: 66.66666667%;
}

.offset17 {
  margin-left: 70.83333333%;
}

.offset18 {
  margin-left: 75%;
}

.offset19 {
  margin-left: 79.16666667%;
}

.offset20 {
  margin-left: 83.33333333%;
}

.offset21 {
  margin-left: 87.5%;
}

.offset22 {
  margin-left: 91.66666667%;
}

.offset23 {
  margin-left: 95.83333333%;
}

.offset24 {
  margin-left: 100%;
}
