:host {
  display: -ms-grid;
  display: grid;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 50px;
}

.slider-container .slider-track {
  width: 100%;
  position: relative;
  margin: 5px;
  height: 4px;
  position: absolute;
  top: 0;
  bottom: 0;
  outline: none;
  margin: auto;
  z-index: -1;
  border-radius: 8px;
}

.slider-container .o-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: transparent;
  pointer-events: none;
}
.slider-container .o-slider:focus {
  outline: none;
}
.slider-container .o-slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 4px;
}
.slider-container .o-slider::-moz-range-track {
  -moz-appearance: none;
  height: 4px;
}
.slider-container .o-slider::-ms-track {
  appearance: none;
  height: 4px;
}
.slider-container .o-slider::-webkit-slider-thumb {
  top: 50%;
  width: 14px;
  height: 14px;
  position: relative;
  z-index: 2;
  margin-top: -9px;
  border: 2px solid #07c160;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0;
  transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -webkit-appearance: none;
}
.slider-container .o-slider::-webkit-slider-thumb:active {
  box-shadow: 0 0 0 5px rgba(7, 193, 96, 0.1);
}
.slider-container .o-slider::-webkit-slider-thumb:hover {
  border-color: #059048;
}
.slider-container .o-slider::-moz-range-thumb {
  top: 50%;
  width: 14px;
  height: 14px;
  position: relative;
  z-index: 2;
  margin-top: -9px;
  border: 2px solid #07c160;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0;
  transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -webkit-appearance: none;
}
.slider-container .o-slider::-moz-range-thumb:active {
  box-shadow: 0 0 0 5px rgba(7, 193, 96, 0.1);
}
.slider-container .o-slider::-moz-range-thumb:hover {
  border-color: #059048;
}
.slider-container .o-slider::-ms-thumb {
  top: 50%;
  width: 14px;
  height: 14px;
  position: relative;
  z-index: 2;
  margin-top: -9px;
  border: 2px solid #07c160;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0;
  transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  appearance: none;
}
.slider-container .o-slider::-ms-thumb:active {
  box-shadow: 0 0 0 5px rgba(7, 193, 96, 0.1);
}
.slider-container .o-slider::-ms-thumb:hover {
  border-color: #059048;
}

.is-square .slider-track {
  border-radius: 0px;
}

.is-square .o-slider::-webkit-slider-thumb {
  top: 50%;
  width: 14px;
  height: 14px;
  position: relative;
  z-index: 2;
  margin-top: -9px;
  border: 2px solid #07c160;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0;
  transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  border-radius: 0%;
  -webkit-appearance: none;
}
.is-square .o-slider::-webkit-slider-thumb:active {
  box-shadow: 0 0 0 5px rgba(7, 193, 96, 0.1);
}
.is-square .o-slider::-webkit-slider-thumb:hover {
  border-color: #059048;
}
.is-square .o-slider::-moz-range-thumb {
  top: 50%;
  width: 14px;
  height: 14px;
  position: relative;
  z-index: 2;
  margin-top: -9px;
  border: 2px solid #07c160;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0;
  transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  border-radius: 0%;
  -webkit-appearance: none;
}
.is-square .o-slider::-moz-range-thumb:active {
  box-shadow: 0 0 0 5px rgba(7, 193, 96, 0.1);
}
.is-square .o-slider::-moz-range-thumb:hover {
  border-color: #059048;
}
.is-square .o-slider::-ms-thumb {
  top: 50%;
  width: 14px;
  height: 14px;
  position: relative;
  z-index: 2;
  margin-top: -9px;
  border: 2px solid #07c160;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0;
  transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  border-radius: 0%;
  appearance: none;
}
.is-square .o-slider::-ms-thumb:active {
  box-shadow: 0 0 0 5px rgba(7, 193, 96, 0.1);
}
.is-square .o-slider::-ms-thumb:hover {
  border-color: #059048;
}

.is-disabled .slider-track {
  border-color: #c0c4cc;
}

.is-disabled .o-slider::-webkit-slider-thumb {
  top: 50%;
  width: 14px;
  height: 14px;
  position: relative;
  z-index: 2;
  margin-top: -9px;
  border: 2px solid #07c160;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0;
  transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  pointer-events: none;
  border-color: #c0c4cc;
  -webkit-appearance: none;
}
.is-disabled .o-slider::-webkit-slider-thumb:active {
  box-shadow: 0 0 0 5px rgba(7, 193, 96, 0.1);
}
.is-disabled .o-slider::-webkit-slider-thumb:hover {
  border-color: #059048;
}
.is-disabled .o-slider::-moz-range-thumb {
  top: 50%;
  width: 14px;
  height: 14px;
  position: relative;
  z-index: 2;
  margin-top: -9px;
  border: 2px solid #07c160;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0;
  transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  pointer-events: none;
  border-color: #c0c4cc;
  -webkit-appearance: none;
}
.is-disabled .o-slider::-moz-range-thumb:active {
  box-shadow: 0 0 0 5px rgba(7, 193, 96, 0.1);
}
.is-disabled .o-slider::-moz-range-thumb:hover {
  border-color: #059048;
}
.is-disabled .o-slider::-ms-thumb {
  top: 50%;
  width: 14px;
  height: 14px;
  position: relative;
  z-index: 2;
  margin-top: -9px;
  border: 2px solid #07c160;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0;
  transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  pointer-events: none;
  border-color: #c0c4cc;
  appearance: none;
}
.is-disabled .o-slider::-ms-thumb:active {
  box-shadow: 0 0 0 5px rgba(7, 193, 96, 0.1);
}
.is-disabled .o-slider::-ms-thumb:hover {
  border-color: #059048;
}

.is-large .slider-track {
  height: 6px;
}

.is-large .o-slider::-webkit-slider-thumb {
  top: 50%;
  width: 14px;
  height: 14px;
  position: relative;
  z-index: 2;
  margin-top: -9px;
  border: 2px solid #07c160;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0;
  transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  width: 25px;
  height: 25px;
  margin-top: -14.5px;
  -webkit-appearance: none;
}
.is-large .o-slider::-webkit-slider-thumb:active {
  box-shadow: 0 0 0 5px rgba(7, 193, 96, 0.1);
}
.is-large .o-slider::-webkit-slider-thumb:hover {
  border-color: #059048;
}
.is-large .o-slider::-moz-range-thumb {
  top: 50%;
  width: 14px;
  height: 14px;
  position: relative;
  z-index: 2;
  margin-top: -9px;
  border: 2px solid #07c160;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0;
  transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  width: 25px;
  height: 25px;
  margin-top: -14.5px;
  -webkit-appearance: none;
}
.is-large .o-slider::-moz-range-thumb:active {
  box-shadow: 0 0 0 5px rgba(7, 193, 96, 0.1);
}
.is-large .o-slider::-moz-range-thumb:hover {
  border-color: #059048;
}
.is-large .o-slider::-ms-thumb {
  top: 50%;
  width: 14px;
  height: 14px;
  position: relative;
  z-index: 2;
  margin-top: -9px;
  border: 2px solid #07c160;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0;
  transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  width: 25px;
  height: 25px;
  margin-top: -14.5px;
  appearance: none;
}
.is-large .o-slider::-ms-thumb:active {
  box-shadow: 0 0 0 5px rgba(7, 193, 96, 0.1);
}
.is-large .o-slider::-ms-thumb:hover {
  border-color: #059048;
}

.is-slim .slider-track {
  height: 2px;
  border-radius: 0%;
}

.is-slim .o-slider::-webkit-slider-thumb {
  top: 50%;
  width: 14px;
  height: 14px;
  position: relative;
  z-index: 2;
  margin-top: -9px;
  border: 2px solid #07c160;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0;
  transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  width: 20px;
  height: 12px;
  margin-top: -8px;
  border-radius: 0%;
  -webkit-appearance: none;
}
.is-slim .o-slider::-webkit-slider-thumb:active {
  box-shadow: 0 0 0 5px rgba(7, 193, 96, 0.1);
}
.is-slim .o-slider::-webkit-slider-thumb:hover {
  border-color: #059048;
}
.is-slim .o-slider::-moz-range-thumb {
  top: 50%;
  width: 14px;
  height: 14px;
  position: relative;
  z-index: 2;
  margin-top: -9px;
  border: 2px solid #07c160;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0;
  transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  width: 20px;
  height: 12px;
  margin-top: -8px;
  border-radius: 0%;
  -webkit-appearance: none;
}
.is-slim .o-slider::-moz-range-thumb:active {
  box-shadow: 0 0 0 5px rgba(7, 193, 96, 0.1);
}
.is-slim .o-slider::-moz-range-thumb:hover {
  border-color: #059048;
}
.is-slim .o-slider::-ms-thumb {
  top: 50%;
  width: 14px;
  height: 14px;
  position: relative;
  z-index: 2;
  margin-top: -9px;
  border: 2px solid #07c160;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0;
  transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  width: 20px;
  height: 12px;
  margin-top: -8px;
  border-radius: 0%;
  appearance: none;
}
.is-slim .o-slider::-ms-thumb:active {
  box-shadow: 0 0 0 5px rgba(7, 193, 96, 0.1);
}
.is-slim .o-slider::-ms-thumb:hover {
  border-color: #059048;
}

/*# sourceMappingURL=index.css.map */
