:host {
  display: -ms-grid;
  display: grid;
  --percent1: 0%;
  --percent2: 0%;
  --lower-color: var(--o-primary);
  --upper-color: #f0f0f0;
}

.slider-container {
  position: relative;
  width: 100%;
}
.slider-container:active .slider-track {
  background: linear-gradient(to right, var(--upper-color) var(--percent1), var(--o-primary-active, #059048) var(--percent1), var(--o-primary-active, #059048) var(--percent2), var(--upper-color) var(--percent2));
}
.slider-container .o-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: transparent;
  cursor: pointer;
}
.slider-container .o-slider:focus {
  outline: none;
}
.slider-container .slider-track {
  width: 100%;
  position: relative;
  margin: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  outline: none;
  margin: auto;
  z-index: -1;
  border-radius: 8px;
  background: linear-gradient(to right, var(--upper-color) var(--percent1), var(--lower-color, #07c160) var(--percent1), var(--lower-color, #07c160) var(--percent2), var(--upper-color) var(--percent2));
}
@supports (-moz-appearance: none) {
  .slider-container .slider-track {
    top: 4px;
  }
}

.slider-container.is-small {
  height: 10px;
}

.is-small .slider-track {
  height: 2px;
}

.is-small .o-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  z-index: 2;
  border: 2px solid var(--o-primary, #07c160);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0;
  transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  width: 10px;
  height: 10px;
  margin-top: -5px;
}
.is-small .o-slider::-webkit-slider-thumb:active {
  box-shadow: 0 0 0 5px var(--o-primary-fade-more, rgba(7, 193, 96, 0.241));
}
.is-small .o-slider::-webkit-slider-thumb:hover {
  border-color: var(--o-primary-active, #059048);
}
.is-small .o-slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
}
.is-small .o-slider::-moz-range-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
}
.is-small .o-slider::-ms-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
}
.is-small .o-slider::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  z-index: 2;
  border: 2px solid var(--o-primary, #07c160);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0;
  transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  width: 10px;
  height: 10px;
  margin-top: -5px;
}
.is-small .o-slider::-moz-range-thumb:active {
  box-shadow: 0 0 0 5px var(--o-primary-fade-more, rgba(7, 193, 96, 0.241));
}
.is-small .o-slider::-moz-range-thumb:hover {
  border-color: var(--o-primary-active, #059048);
}
.is-small .o-slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
}
.is-small .o-slider::-moz-range-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
}
.is-small .o-slider::-ms-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
}
.is-small .o-slider::-ms-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  z-index: 2;
  border: 2px solid var(--o-primary, #07c160);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0;
  transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  width: 10px;
  height: 10px;
  margin-top: -5px;
}
.is-small .o-slider::-ms-thumb:active {
  box-shadow: 0 0 0 5px var(--o-primary-fade-more, rgba(7, 193, 96, 0.241));
}
.is-small .o-slider::-ms-thumb:hover {
  border-color: var(--o-primary-active, #059048);
}
.is-small .o-slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
}
.is-small .o-slider::-moz-range-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
}
.is-small .o-slider::-ms-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
}

.is-small.is-round .slider-track {
  height: 2px;
}
.is-small.is-square .slider-track {
  border-radius: 0;
  height: 2px;
}
.is-small.is-square .o-slider::-webkit-slider-thumb {
  border-radius: 0;
}
.is-small.is-square .o-slider::-moz-range-thumb {
  border-radius: 0;
}
.is-small.is-square .o-slider::-ms-thumb {
  border-radius: 0;
}

.is-small.is-progress .slider-track {
  height: 2px;
}
.is-small.is-progress .o-slider::-webkit-slider-thumb {
  border-color: transparent;
  background-color: transparent;
}
.is-small.is-progress .o-slider::-webkit-slider-thumb:active {
  box-shadow: 0 0;
}
.is-small.is-progress .o-slider::-webkit-slider-thumb:hover {
  border-color: transparent;
}
.is-small.is-progress .o-slider::-moz-range-thumb {
  border-color: transparent;
  background-color: transparent;
}
.is-small.is-progress .o-slider::-moz-range-thumb:active {
  box-shadow: 0 0;
}
.is-small.is-progress .o-slider::-moz-range-thumb:hover {
  border-color: transparent;
}
.is-small.is-progress .o-slider::-ms-thumb {
  border-color: transparent;
  background-color: transparent;
}
.is-small.is-progress .o-slider::-ms-thumb:active {
  box-shadow: 0 0;
}
.is-small.is-progress .o-slider::-ms-thumb:hover {
  border-color: transparent;
}

.slider-container.is-normal {
  height: 14px;
}

.is-normal .slider-track {
  height: 4px;
}

.is-normal .o-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  z-index: 2;
  border: 2px solid var(--o-primary, #07c160);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0;
  transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  width: 14px;
  height: 14px;
  margin-top: -7px;
}
.is-normal .o-slider::-webkit-slider-thumb:active {
  box-shadow: 0 0 0 5px var(--o-primary-fade-more, rgba(7, 193, 96, 0.241));
}
.is-normal .o-slider::-webkit-slider-thumb:hover {
  border-color: var(--o-primary-active, #059048);
}
.is-normal .o-slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
}
.is-normal .o-slider::-moz-range-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
}
.is-normal .o-slider::-ms-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
}
.is-normal .o-slider::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  z-index: 2;
  border: 2px solid var(--o-primary, #07c160);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0;
  transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  width: 14px;
  height: 14px;
  margin-top: -7px;
}
.is-normal .o-slider::-moz-range-thumb:active {
  box-shadow: 0 0 0 5px var(--o-primary-fade-more, rgba(7, 193, 96, 0.241));
}
.is-normal .o-slider::-moz-range-thumb:hover {
  border-color: var(--o-primary-active, #059048);
}
.is-normal .o-slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
}
.is-normal .o-slider::-moz-range-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
}
.is-normal .o-slider::-ms-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
}
.is-normal .o-slider::-ms-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  z-index: 2;
  border: 2px solid var(--o-primary, #07c160);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0;
  transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  width: 14px;
  height: 14px;
  margin-top: -7px;
}
.is-normal .o-slider::-ms-thumb:active {
  box-shadow: 0 0 0 5px var(--o-primary-fade-more, rgba(7, 193, 96, 0.241));
}
.is-normal .o-slider::-ms-thumb:hover {
  border-color: var(--o-primary-active, #059048);
}
.is-normal .o-slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
}
.is-normal .o-slider::-moz-range-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
}
.is-normal .o-slider::-ms-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
}

.is-normal.is-round .slider-track {
  height: 4px;
}
.is-normal.is-square .slider-track {
  border-radius: 0;
  height: 4px;
}
.is-normal.is-square .o-slider::-webkit-slider-thumb {
  border-radius: 0;
}
.is-normal.is-square .o-slider::-moz-range-thumb {
  border-radius: 0;
}
.is-normal.is-square .o-slider::-ms-thumb {
  border-radius: 0;
}

.is-normal.is-progress .slider-track {
  height: 4px;
}
.is-normal.is-progress .o-slider::-webkit-slider-thumb {
  border-color: transparent;
  background-color: transparent;
}
.is-normal.is-progress .o-slider::-webkit-slider-thumb:active {
  box-shadow: 0 0;
}
.is-normal.is-progress .o-slider::-webkit-slider-thumb:hover {
  border-color: transparent;
}
.is-normal.is-progress .o-slider::-moz-range-thumb {
  border-color: transparent;
  background-color: transparent;
}
.is-normal.is-progress .o-slider::-moz-range-thumb:active {
  box-shadow: 0 0;
}
.is-normal.is-progress .o-slider::-moz-range-thumb:hover {
  border-color: transparent;
}
.is-normal.is-progress .o-slider::-ms-thumb {
  border-color: transparent;
  background-color: transparent;
}
.is-normal.is-progress .o-slider::-ms-thumb:active {
  box-shadow: 0 0;
}
.is-normal.is-progress .o-slider::-ms-thumb:hover {
  border-color: transparent;
}

.slider-container.is-large {
  height: 25px;
}

.is-large .slider-track {
  height: 6px;
}

.is-large .o-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  z-index: 2;
  border: 2px solid var(--o-primary, #07c160);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0;
  transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  width: 25px;
  height: 25px;
  margin-top: -12.5px;
}
.is-large .o-slider::-webkit-slider-thumb:active {
  box-shadow: 0 0 0 5px var(--o-primary-fade-more, rgba(7, 193, 96, 0.241));
}
.is-large .o-slider::-webkit-slider-thumb:hover {
  border-color: var(--o-primary-active, #059048);
}
.is-large .o-slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
}
.is-large .o-slider::-moz-range-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
}
.is-large .o-slider::-ms-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
}
.is-large .o-slider::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  z-index: 2;
  border: 2px solid var(--o-primary, #07c160);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0;
  transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  width: 25px;
  height: 25px;
  margin-top: -12.5px;
}
.is-large .o-slider::-moz-range-thumb:active {
  box-shadow: 0 0 0 5px var(--o-primary-fade-more, rgba(7, 193, 96, 0.241));
}
.is-large .o-slider::-moz-range-thumb:hover {
  border-color: var(--o-primary-active, #059048);
}
.is-large .o-slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
}
.is-large .o-slider::-moz-range-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
}
.is-large .o-slider::-ms-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
}
.is-large .o-slider::-ms-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  z-index: 2;
  border: 2px solid var(--o-primary, #07c160);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0;
  transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  width: 25px;
  height: 25px;
  margin-top: -12.5px;
}
.is-large .o-slider::-ms-thumb:active {
  box-shadow: 0 0 0 5px var(--o-primary-fade-more, rgba(7, 193, 96, 0.241));
}
.is-large .o-slider::-ms-thumb:hover {
  border-color: var(--o-primary-active, #059048);
}
.is-large .o-slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
}
.is-large .o-slider::-moz-range-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
}
.is-large .o-slider::-ms-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
}

.is-large.is-round .slider-track {
  height: 6px;
}
.is-large.is-square .slider-track {
  border-radius: 0;
  height: 6px;
}
.is-large.is-square .o-slider::-webkit-slider-thumb {
  border-radius: 0;
}
.is-large.is-square .o-slider::-moz-range-thumb {
  border-radius: 0;
}
.is-large.is-square .o-slider::-ms-thumb {
  border-radius: 0;
}

.is-large.is-progress .slider-track {
  height: 6px;
}
.is-large.is-progress .o-slider::-webkit-slider-thumb {
  border-color: transparent;
  background-color: transparent;
}
.is-large.is-progress .o-slider::-webkit-slider-thumb:active {
  box-shadow: 0 0;
}
.is-large.is-progress .o-slider::-webkit-slider-thumb:hover {
  border-color: transparent;
}
.is-large.is-progress .o-slider::-moz-range-thumb {
  border-color: transparent;
  background-color: transparent;
}
.is-large.is-progress .o-slider::-moz-range-thumb:active {
  box-shadow: 0 0;
}
.is-large.is-progress .o-slider::-moz-range-thumb:hover {
  border-color: transparent;
}
.is-large.is-progress .o-slider::-ms-thumb {
  border-color: transparent;
  background-color: transparent;
}
.is-large.is-progress .o-slider::-ms-thumb:active {
  box-shadow: 0 0;
}
.is-large.is-progress .o-slider::-ms-thumb:hover {
  border-color: transparent;
}

.is-disabled .o-slider {
  pointer-events: none;
}
.is-disabled .o-slider::-webkit-slider-thumb {
  pointer-events: none;
  border-color: #c0c4cc;
}
.is-disabled .o-slider {
  pointer-events: none;
}
.is-disabled .o-slider::-moz-range-thumb {
  pointer-events: none;
  border-color: #c0c4cc;
}
.is-disabled .o-slider {
  pointer-events: none;
}
.is-disabled .o-slider::-ms-thumb {
  pointer-events: none;
  border-color: #c0c4cc;
}
.is-disabled .slider-track {
  --lower-color: #c0c4cc;
}

/*# sourceMappingURL=index.css.map */
