@use 'sass:math';

@import '@omiu/common/theme.scss';
@import '@yaireo/ui-range/ui-range.scss';

// excess height to improve interactive area / accessibility
$height: 30px;
$thumb-height: 16px;
$track-height: 16px;

// colours
$upper-color: $o-surface;
$lower-color: $o-primary;
$thumb-color: $o-primary-fade-little;
$track-color: $o-primary-active;

$upper-background: linear-gradient(to bottom, $upper-color, $upper-color) 100%
  50% / 100% $track-height no-repeat transparent;
$lower-background: linear-gradient(to bottom, $lower-color, $lower-color) 100%
  50% / 100% $track-height no-repeat transparent;

$shadow: 0 1px 3px rgba(0, 0, 0, 0.4);

@mixin thumb {
  position: relative;
  height: $thumb-height;
  width: $thumb-height;
  background-color: $thumb-color;
  //   border-radius: 100%;
  top: 50%;
  margin-top: math.div($thumb-height, -2);
  // box-shadow: webkit-slider-thumb-shadow();

  // ? for round
  // border-radius: 8px;

  outline: 2px solid $o-surface;
  outline-offset: -4px;

  cursor: pointer;
  pointer-events: auto;
  z-index: 2;
}

@mixin track {
  width: 100%;
  position: relative;
  margin: 5px;
  height: $track-height;
  background-color: $track-color;
  box-shadow: $shadow;
  // ? for round
  // border-radius: 8px;

  border: 2px solid $o-primary;
  transition: background-color 150ms;
  -webkit-appearance: none;
}

// Webkit cannot style progress so we fake it with a long shadow
// on the thumb element
// @function webkit-slider-thumb-shadow($i: 1) {
//   $val: #{$i}px 0 0 -#{math.div($thumb-height - $track-height, 2)} #{$upper-color};
//   @if $i == 1 {
//     @for $k from 2 through 1000 {
//       $val: #{$val}, webkit-slider-thumb-shadow($k);
//     }
//   }
//   @return $val;
// }

:host {
  display: -ms-grid;
  display: grid;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 50px;
  border: 1px solid #000000;
}

.slider-track {
  width: 100%;
  height: 5px;
  background-color: grey;
  position: absolute;
  top: 0;
  bottom: 0;
  outline: none;
  margin: auto;
  border-radius: 5x;
}

.o-slider {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 0;
  bottom: 0;
  // height: $height;
  pointer-events: none;
  background: transparent;

  //*--------------track-----------------
  &::-webkit-slider-runnable-track {
    @include track;
    -webkit-appearance: none;
  }

  &::-moz-range-track {
    @include track;
    -moz-appearance: none;
  }

  &::-ms-track {
    @include track;
    appearance: none;
  }
  //*--------------thumb-----------------
  &::-webkit-slider-thumb {
    @include thumb;
    -webkit-appearance: none;
  }
  &::-moz-range-thumb {
    @include thumb;
    -webkit-appearance: none;
  }
  &::-ms-thumb {
    @include thumb;
    appearance: none;
  }
}

.is-vertical {
  transform: rotate(-90deg);
}
