@use 'sass:math';
@use "sass:map";

@import '@omiu/common/scss/theme.scss';

$shapes: 'round' 'square' 'progress';
$sizes: 'small' 'normal' 'large';
$browser-thumbs: '-webkit-slider-thumb' '-moz-range-thumb' '-ms-thumb';
$browser-tracks: '-webkit-slider-runnable-track' '-moz-range-track' '-ms-track';

$thumb-sizes: (
  'small': 10px,
  'normal': 14px,
  'large': 25px,
);

$track-sizes: (
  'small': 2px,
  'normal': 4px,
  'large': 6px,
);

:host {
  display: -ms-grid;
  display: grid;
  --percent1: 0%;
  --percent2: 0%;
  --lower-color: var(--o-primary);
  --lower-color-active: var(--o-primary-active);
  --upper-color: #f0f0f0;
  --upper-color-active: #d9d9d9;
}

@mixin thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  z-index: 2;
  border: 2px solid var(--o-primary, map.get($--colors, 'primary', 'base'));
  border-radius: 50%;
  background-color: $o-surface;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0;
  transition: border-color 0.3s, box-shadow 0.6s,
    transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  &:active {
    box-shadow: 0 0 0 5px var(--o-primary-fade-more, $o-primary-fade-more);
  }
}

@mixin track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
}

.slider-container {
  position: relative;
  width: 100%;

  & .o-slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: transparent;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  & .slider-track {
    width: 100%;
    position: relative;
    margin: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    outline: none;
    margin: auto;
    z-index: -1;
    border-radius: 8px;

    background: linear-gradient(
      to right,
      var(--upper-color) var(--percent1),
      var(--lower-color, map.get($--colors, 'primary', 'base')) var(--percent1),
      var(--lower-color, map.get($--colors, 'primary', 'base')) var(--percent2),
      var(--upper-color) var(--percent2)
    );

    @supports (-moz-appearance: none) {
      & {
        top: 4px;
      }
    }
  }

  &:hover,
  &:active {
    & .slider-track {
      background: linear-gradient(
        to right,
        var(--upper-color-active, $o-primary) var(--percent1),
        var(--lower-color-active, $o-primary-active) var(--percent1),
        var(--lower-color-active, $o-primary-active) var(--percent2),
        var(--upper-color-active, $o-primary) var(--percent2)
      );
    }
    @each $thumb in $browser-thumbs {
      & .o-slider::#{$thumb} {
        border-color: var(--o-primary-active, $o-primary-active);
      }
    }
  }
}

@each $size in $sizes {
  .slider-container.is-#{$size} {
    height: map.get($thumb-sizes, $size);
  }

  .is-#{$size} .slider-track {
    height: map.get($track-sizes, $size);
  }

  .is-#{$size} .o-slider {
    @each $thumb in $browser-thumbs {
      &::#{$thumb} {
        @include thumb;
        width: map.get($thumb-sizes, $size);
        height: map.get($thumb-sizes, $size);
        margin-top: math.div(map.get($thumb-sizes, $size), -2);
      }
      @each $track in $browser-tracks {
        &::#{$track} {
          @include track;
        }
      }
    }
  }

  @each $shape in $shapes {
    .is-#{$size}.is-#{$shape} {
      & .slider-track {
        @if $shape == 'square' {
          border-radius: 0;
        }
        height: map.get($track-sizes, $size);
      }
      & .o-slider {
        @each $thumb in $browser-thumbs {
          &::#{$thumb} {
            @if $shape == 'square' {
              border-radius: 0;
            }
            @if $shape == 'progress' {
              border-color: transparent;
              background-color: transparent;
              &:active {
                box-shadow: 0 0;
              }
              &:hover {
                border-color: transparent;
              }
            }
          }
        }
      }
    }
  }
}

.is-disabled {
  --lower-color: #bfbfbf;
  --lower-color-active: #8c8c8c;
  --upper-color-active: #d9d9d9;
  --o-primary-active: #bfbfbf;

  cursor: not-allowed;
  & .o-slider {
    pointer-events: none;
  }
  @each $thumb in $browser-thumbs {
    & .o-slider::#{$thumb} {
      pointer-events: none;
      border-color: #c0c4cc;
    }
  }
}
