@use 'sass:math';

@import '@omiu/common/theme.scss';
@import '@yaireo/ui-range/ui-range.scss';

// excess height to improve interactive area / accessibility
$height: 30px;
$thumb-height: 40px;
$track-height: 30px;

// colours
$upper-color: $o-surface;
$lower-color: $o-primary;
$thumb-color: $o-primary;
$track-color: $o-primary-active;

$shadow: 0 1px 3px rgba(0, 0, 0, 0.4);

@mixin thumb {
  position: relative;
  height: $thumb-height;
  width: $thumb-height;
  background-color: $thumb-color;
  top: 50%;
  margin-top: math.div($thumb-height, -2);

  // ? for round
  // border-radius: 8px;

  outline: 2px solid $o-surface;
  outline-offset: -12px;

  cursor: pointer;
  pointer-events: auto;
  z-index: 2;

  transition: outline-offset 150ms;

  &:hover,
  &:focus {
    outline-offset: -14px;
  }

  // transform: rotate(180deg);
}

@mixin track {
  width: 100%;
  position: relative;
  margin: 5px;
  height: $track-height;

  background-color: $o-surface;
  box-shadow: $shadow;
  // ? for round
  // border-radius: 8px;

  border: 2px solid $o-primary;
  transition: background-color 200ms;

  -webkit-appearance: none;
}

:host {
  display: -ms-grid;
  display: grid;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 50px;
}

.slider-track {
  @include track; // width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  outline: none;
  margin: auto;
  // border-radius: 5x;
}

.slider-container .o-slider {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 0;
  bottom: 0;
  pointer-events: none;
  background: transparent;

  //*--------------track-----------------
  &::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: $track-height;
    overflow: hidden;
  }

  &::-moz-range-track {
    -moz-appearance: none;
    height: $track-height;
    overflow: hidden;
    z-index: 1;
  }

  &::-ms-track {
    appearance: none;
    height: $track-height;
    overflow: hidden;
  }
  //*--------------thumb-----------------
  &::-webkit-slider-thumb {
    @include thumb;
    -webkit-appearance: none;
  }
  &::-moz-range-thumb {
    @include thumb;
    -webkit-appearance: none;
  }
  &::-ms-thumb {
    @include thumb;
    appearance: none;
  }
}
.is-vertical {
  transform: rotate(-90deg);
}
