node_modules
package-lock.json
pnpm-lock.yaml
# tsconfig.json

# Editor and IDE configuration
.vscode/
.idea/

# vitepress
.vitepress/cache
.vitepress/dist

npm-debug.log
/packages/*/todo.md
bak.js

dist