.drag-over {
  border: 1px dashed white;
}

.node-root {
  color: #171717;
  font-size: 12px;
  margin-left: 10px;
}

.node-title {
  height: 32px;
  line-height: 32px;
}

.name {
  cursor: pointer;
}

ul,
li {
  list-style: none;
  padding: 0;
  padding-left: 5px;
  margin: 0 ;
}


.icon{
  position: relative;
  top: 1px;
  cursor: pointer;
}
