<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <!-- <link rel="icon" type="image/svg+xml" href="favicon.svg" /> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>OMI InputNumber</title>
</head>

<body>
  <a href="https://github.com/Tencent/omi" target="_blank" style="position: fixed; right: 0; top: 0; z-index: 3;">
    <img src="//alloyteam.github.io/github.png" alt="">
  </a>
  <script type="module" src="/src/index.tsx"></script>
  <style>
    o-input-number {
      margin-top: 10px;
    }
  </style>

  <div id="root"></div>
  <!-- <br>
  <div>
    <o-input-number size='medium' value=6></o-input-number>
  </div>
  <br>
  <div>
    <o-input-number size='small'></o-input-number>
  </div>
  <br>
  <div>
    <o-input-number size='mini'></o-input-number>
  </div> -->

  
</body>

</html>
