.pager {
    width:85%;
    height:80px;
    line-height:80px;
    position: relative;
    font-size:16px;
}

@media only screen and (max-width: 768px) {
    .pager {
        width:100%;
    }
}

.pre{
    position: absolute;
    left:10px;
    top:10px;
}
.next{
    position: absolute;
    right:10px;
    top:10px;
}