.o-badge{
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  padding: .15em .4em;
  min-width: 8px;
  border-radius: 18px;
  background-color: #F95050;
  color: #FFFFFF;
  line-height: 1.2;
  text-align: center;
  font-size: 12px;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  max-width: 35px;
}

.circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #F95050;
}