.mainer {
  width: 100%;
  margin: 20px auto;
  text-align: center;
  h1 {
    font-size: 32px;
    font-weight: lighter;
    margin: 30px 0;
  }

  p {
    background: #eafee8;
    padding: 10px;
    margin: 10px 0;
  }
}
