@import "../theme";

.m-toast {
  position: fixed;
  z-index: 5000;
  width: 7.6em;
  min-height: 7.6em;
  top: 50%;
  left: 50%;
  margin-top: -3.8em;
  margin-left: -3.8em;
  background: rgba(17, 17, 17, 0.7);
  text-align: center;
  border-radius: $mdc-shape-medium-component-radius;
  color: #FFFFFF;
}

.m-icon_toast {
  margin: 22px 0 0;
  display: block;
}

.m-icon_toast.m-icon-success-no-circle:before {
  color: #FFFFFF;
  font-size: 55px;
}

.m-icon_toast.m-loading {
  margin: 30px 0 0;
  width: 38px;
  height: 38px;
  vertical-align: baseline;
}

.m-toast__content {
  margin: 0 0 15px;
}

p {
  margin: 0;
  padding-bottom: 10px;
}

.icon {
  margin-top: 25px;
  margin-bottom: 3px;
  display: inline-block;
}


.rotate {
    display: inline-block;
    -webkit-animation: rotate 1s infinite linear;
    animation: rotate 1s infinite linear;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}