$--colors: (
  'primary': (
    'base': #07c160
  ),
  'success': (
    'base': #07c160
  ),
  'warning': (
    'base': #f2711c
  ),
  'danger': (
    'base': #db2828
  ),
  'info': (
    'base': #42b8dd
  )
);

$--types: primary, success, warning, danger, info;

$--sizes: medium, small, mini;
