$primary-color: #1aad19;

.ow-dialog {
  position: fixed;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: 1;
  h1 {
    font-size: 18px;
    font-weight: normal;
    padding: 20px;
    margin: 0px;
  }
  p {
    font-size: 16px;
    color: #666;
    padding-bottom: 20px;
    margin: 0px;
  }
  a {
    padding: 15px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    border-top: 1px solid #eee;
  }
  .ok {
    color: $primary-color;
  }
  .close {
    border-right: 1px solid #eee;
  }
}
