@import '../../common/scss/theme.scss';

:host {
  display: inline-block;
}

* {
  box-sizing: border-box;
}

.o-checkbox {
  position: relative;
  font-size: 14px;
  line-height: 14px;
  height: 14px;
  white-space: nowrap;

  &:hover {
    cursor: pointer;
  }
}

.o-checkbox__native-control:enabled:checked ~ .o-checkbox__background,
.o-checkbox__native-control:enabled:indeterminate ~ .o-checkbox__background {
  border-color: $o-primary;
  border-color: var(--o-primary, $o-primary);
  background-color: $o-primary;
  background-color: var(--o-primary, $o-primary);

  opacity: 1;
}

.o-checkbox__indeterminate .o-checkbox__checkmark {
  opacity: 0;
}

.o-checkbox__checkmark {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  transition: opacity 180ms 0ms cubic-bezier(0.4, 0, 0.6, 1);

  color: #ffffff;
}

.o-checkbox__checkmark-path {
  transition: stroke-dashoffset 180ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
  stroke: currentColor;
  stroke-width: 3.12px;
  stroke-dashoffset: 29.78334;
  stroke-dasharray: 29.78334;
}

.o-checkbox__native-control:checked
  ~ .o-checkbox__background
  .o-checkbox__checkmark-path,
.o-checkbox__native-control:indeterminate
  ~ .o-checkbox__background
  .o-checkbox__checkmark-path {
  stroke-dashoffset: 0;
}

.o-checkbox__background {
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 45%;
  height: 45%;
  border: 2px solid currentColor;
  border-radius: 2px;
  background-color: transparent;
  pointer-events: none;
  will-change: background-color, border-color;
  transition: background-color 90ms 0ms cubic-bezier(0.4, 0, 0.6, 1),
    border-color 90ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
}

.o-checkbox__background,
.o-checkbox__label {
  display: inline-block;
  height: 14px;
  vertical-align: middle;
}

.o-checkbox__background {
  width: 14px;
}

.o-checkbox__label {
  margin-left: 10px;
}

.o-checkbox__native-control:indeterminate
  ~ .o-checkbox__background
  .o-checkbox__mixedmark {
  transform: scaleX(1) rotate(0deg);
  opacity: 1;
}

.o-checkbox__mixedmark {
  width: 100%;
  height: 0;
  transform: scaleX(0) rotate(0deg);
  border: 1px solid white;
  top: 50%;
  position: relative;
  margin-top: -1px;
  opacity: 0;
  transition: opacity 90ms 0ms cubic-bezier(0.4, 0, 0.6, 1),
    transform 90ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
}

.o-checkbox__native-control {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: inherit;
}

.o-checkbox__native-control:enabled:not(:checked):not(:indeterminate)
  ~ .o-checkbox__background {
  background-color: transparent;
  border: 1px solid $o-border-level-2-color;
  color: white;
}

.o-checkbox__native-control:disabled:checked ~ .o-checkbox__background,
.o-checkbox__native-control:disabled:indeterminate ~ .o-checkbox__background {
  border-color: $o-primary;
  border-color: var(--o-primary, $o-primary);
  background-color: $o-primary;
  background-color: var(--o-primary, $o-primary);

  opacity: 0.5;
}

.o-checkbox__native-control:disabled:not(:checked):not(:indeterminate)
  ~ .o-checkbox__background {
  background-color: transparent;
  border: 1px solid $o-border-level-2-color;
  color: white;
}

.o-checkbox__disabled {
  .o-checkbox__label {
    color: #888;
  }

  &:hover {
    cursor: not-allowed;
  }
}
