<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/src/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OMIU</title>
    <script type="module" src="/src/index.tsx"></script>
  </head>

  <body>
    <h1>HTML Mode <a href="./demo.html">JSX Mode</a></h1>
    <o-kanban ></o-kanban>
    <script>
      /*document
        .querySelector('o-counter')
        .addEventListener('count-changed', function (evt) {
          console.log(evt.detail)
        })*/
    </script>
  </body>
</html>
