html,body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #f9f9f9;
    font-family:proxima-nova,"Helvetica Neue",Helvetica,Roboto, PT Sans, DejaVu Sans, Arial,Segoe UI Light,Segoe UI,Microsoft Jhenghei,Mirco Yahei,'sans-serif';
    overflow: hidden;
}

img,ul,li{
    margin: 0;
    padding: 0;
    border: 0;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}
table{
    border-collapse: collapse;
}
table,td,th{
    border: 1px solid #ccc;
}