html,body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #f9f9f9;
    font-family:proxima-nova,"Helvetica Neue",Helvetica,Roboto, PT Sans, DejaVu Sans, Arial,Segoe UI Light,Segoe UI,Microsoft Jhenghei,Mirco Yahei,'sans-serif';
    overflow-x: hidden;
}

img,ul,li{
    margin: 0;
    padding: 0;
    border: 0;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}
table{
    border-collapse: collapse;
}
table,td,th{
    border: 1px solid #ccc;
}


@media only screen and (max-width: 768px) {


    .content img{
        width: 100%;
    }

    .content code[class*="language-"],
    .content pre[class*="language-"] {
        font-family: Consolas, "Liberation Mono", Courier, monospace;
        line-height: 18px;
        font-size: 85%;
    }
    .content p{
        font-size: 14px;
    }
    .content p,.content h1,.content h2,.content h3,.content h4,.content h5{
        padding-left:10px;
        padding-right:10px;
    }

    .line-highlight:before, .line-highlight[data-end]:after{
        top: 0em;
    }
}
