.page__title {
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  margin-left:40px ;
}

.page__desc {
  margin-top: 5px;
  color: #888;
  text-align: left;
  font-size: 14px;
  margin-left:40px ;
}