@import "../theme";

:host {
  display: block;
}

.m-date-picker {
  color: #1C1B1C;
  position: relative;
  width: 300px;
  font-size: 0.875rem;
  border-radius: $mdc-shape-medium-component-radius;
  border: 1px solid #DADADA;
  font-family: $mdc-typography--font-family;

  background-color: #fff;
  -webkit-box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  box-sizing: border-box;
}

._ctn{
  transition: all 4s;

  overflow: hidden;
}

.show{
  height: 300px;
}

.hide{
  height: 0px;
}

* {
  box-sizing: border-box;
}

._out-date {
  color: #9C9C9C;
}

._today {
  color: $mdc-theme-primary;
}

td,
th {
  width: 14.285714285714285%;
  height: 35px;
}

td {
  cursor: pointer;
}

table {
  width: 100%;

  position: relative;
  top: -2px;
  text-align: center;
}

._header {
  font-size: 1rem;
  position: relative;
  text-align: center;
  // border-top: none;
  height: 45px;
  line-height: 45px;
}

thead{
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.38)
}

.prev-year-btn:after {
  content: '«';
}

.prev-month-btn:after {
  content: '‹';
}

._now{
  color: $mdc-theme-primary;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
 
}

.selected{
  display: block;
  background-color: $mdc-theme-primary;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 28px;
  position: relative;
  top: 2px;
  right: -5px;
}

.selected:hover{
  color: white;
}

.prev-year-btn {
  position: absolute;
  left: 0;
  cursor: pointer;
}

.prev-month-btn {
  position: absolute;
  left: 25px;
  cursor: pointer;
}

.next-year-btn:after {
  content: '»';
}

.next-month-btn:after {
  content: '›';
}

.next-year-btn {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.next-month-btn {
  position: absolute;
  right: 25px;
  cursor: pointer;
}

td:hover{
  color: $mdc-theme-secondary;
}

.next-month-btn,.next-year-btn,.prev-year-btn,.prev-month-btn{
  display: inline-block;
  width: 30px;
  height: 30px;
}
