.o-dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  left:0;
  top: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  width: 50%;
  height: auto;
  min-height: 400px;
  background-color: white;
  position: fixed;
  left: 25%;
  top: 20%;
}

.abc{
  position: absolute;
  right: 10px;
  top: 10ppx;
}