.o-cell--title {
  display: inline-block;
}

.o-cell--sort {
  position: relative;
  display: inline-block;
  height: 9px;
  margin-left: 10px;
  cursor: pointer;
  width: 9px;
}

.o-sort--asc-btn,
.o-sort--desc-btn {
  border: 5px solid transparent;
  content: "";
  height: 0;
  top: 50%;
  position: absolute;
  width: 0;
}

.o-sort--asc-btn {
  border-bottom-color: #c0c4cc;
  margin-top: -12px;
}

.o-sort--asc-btn:hover {
  border-bottom-color: #666;
}

.cursor-pointer {
  cursor: pointer;
}

.o-sort--asc-btn:active {
  border-bottom-color: #07c160 !important;
}

.o-sort--desc-btn:active {
  border-top-color: #07c160 !important;
}

.o-sort--asc-btn.active {
  border-bottom-color: #07c160 !important;
}

.o-sort--desc-btn.active {
  border-top-color: #07c160 !important;
}

.o-sort--desc-btn {
  border-top-color: #c0c4cc;
  margin-top: 1px;
}

.o-sort--desc-btn:hover {
  border-top-color: #666;
}

.o-cell--filter-icon {
  position: relative;
  display: inline-block;
}

.o-cell--filter-icon::before {
  border: 7px solid transparent;
  content: "";
  height: 0;
  display: inline-block;
  width: 0;
}

.o-cell--filter {
  display: inline-block;
  position: relative;
  top: 3px;
  margin-left: 10px;
  cursor: pointer;
}

.o-cell--filter-icon::after {
  width: 4px;
  height: 8px;
  content: "";
  background: #c0c4cc;
  display: inline-block;
  position: relative;
  left: -9px;
  top: -2px;
}

.o-cell--filter-icon:hover::after {
  background: #666;
}

.o-cell--filter-icon:hover::before {
  border-top-color: #666;
}

.o-cell--filter-icon::before {
  border-top-color: #c0c4cc;
  margin-top: -9px;
}

:host {
  display: block;
}

.o-table {
  overflow: auto;
}

* {
  box-sizing: border-box;
}

.o-table-border {
  border: 1px solid #ebeef5;
}

.o-table-table {
  background: white;
  border-spacing: 0;
  border-collapse: collapse;
  color: #606266;
  table-layout: fixed;
}

.o-table-checkbox th:first-child,
.o-table-checkbox td:first-child {
  padding: 2px 10px 2px;
}

th {
  border-bottom: 1px solid #e0e0e0;
  text-align: left;
  vertical-align: middle;
  padding: 10px 10px 10px;
  color: rgba(0, 0, 0, 0.54);
  line-height: 1.3125rem;
  font-weight: 500;
  background: #fafafa;
}

th,
td {
  font-size: 0.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

th.fixed-top {
  position: sticky;
  top: 0;
  z-index: 1000;
}

table thead th.fixed-left {
  position: sticky;
  left: 0;
  z-index: 1001;
}

table tbody td.fixed-left {
  position: sticky;
  left: 0;
  z-index: 999;
}

table thead th.fixed-right {
  position: sticky;
  z-index: 1001;
}

table tbody td.fixed-right {
  position: sticky;
  z-index: 1000;
}

.o-table-border td,
.o-table-border th {
  border-right: 1px solid #ebeef5;
}

.o-table-border td:last-child,
.o-table-border th:last-child {
  border-right: none;
}

.o-table-border th {
  border-bottom: 1px solid #ebeef5;
}

tr {
  border-bottom: 1px solid #e0e0e0;
}

tr:last-child {
  border-bottom: none;
}

tr:hover td {
  background: #f5f5f5;
}

td {
  text-align: left;
  vertical-align: middle;
  padding: 10px 10px 10px;
  background: white;
}

td.compact,
th.compact {
  padding: 4px 10px 4px;
}

a {
  text-decoration: none;
}

.o-table-align-left {
  text-align: left;
}

.o-table-align-center {
  text-align: center;
}

o-checkbox {
  height: 20px;
  vertical-align: middle;
}

.o-table-align-right {
  text-align: right;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #07c160;
}

a:hover {
  color: #07c160;
  color: var(--o-primary, #07c160);
}

o-checkbox {
  margin-right: 5px;
}

.o-table-stripe tr:nth-of-type(odd) {
  background: white;
}

.o-table-stripe tr:nth-of-type(even) {
  background: #fafafa;
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(-40px);
  opacity: 0;
}
