@import '../../common/scss/theme.scss';
@import './header.scss';
@import './filter.scss';

:host {
  display: block;
}

.o-table {
  overflow: auto;
}

* {
  box-sizing: border-box;
}

.o-table-border {
  border: 1px solid #ebeef5;
}

.o-table-table {
  background: white;
  border-spacing: 0;
  border-collapse: collapse;
  color:$o-text-color-secondary;
  table-layout: fixed;
}

.o-table-checkbox th:first-child,
.o-table-checkbox td:first-child {
  padding: 2px 10px 2px;
}

th {
  border-bottom: 1px solid #e0e0e0;
  text-align: left;
  vertical-align: middle;
  padding: 10px 10px 10px;
  color: $o-text-color-primary;
  line-height: 1.3125rem;
  font-weight: 500;
  background: $o-bg-table-th;
}

//https://stackoverflow.com/questions/4654481/lock-table-cells-to-their-default-size-regardless-of-content
th,
td {
  // 下面这些样式会让冻结失效
  // display: table-cell;
  font-size: 0.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  // overflow-wrap: anywhere;
}

th.fixed-top {
  position: sticky;
  top: 0;
  z-index: 1000;
}

table thead th.fixed-left {
  position: sticky;
  left: 0;
  z-index: 1001;
}

table tbody td.fixed-left {
  position: sticky;
  left: 0;
  z-index: 999;
}

table thead th.fixed-right {
  position: sticky;
  z-index: 1001;
}

table tbody td.fixed-right {
  position: sticky;
  z-index: 1000;
}

// 已知问题，当fixedLeftCount>1时候，border打开滚动时候有间隙
// 暂时没有好的办法
.o-table-border td,
.o-table-border th {
  border-right: 1px solid #ebeef5;
}

.o-table-border td:last-child,
.o-table-border th:last-child {
  border-right: none;
}


.o-table-border th {
  border-bottom: 1px solid #ebeef5;
}

tr {
  border-bottom: 1px solid #e0e0e0;
}

tr:last-child {
  border-bottom: none;
}

tr:hover td {
  background: $o-bg-table-th;
}

td {
  text-align: left;
  vertical-align: middle;
  padding: 10px 10px 10px;
  background: $o-bg-color-container;
}

td.compact,
th.compact {
  padding: 4px 10px 4px;
}

a {
  text-decoration: none;
}

.o-table-align-left {
  text-align: left;
}

.o-table-align-center {
  text-align: center;
}

o-checkbox {
  height: 20px;
  vertical-align: middle;
}

.o-table-align-right {
  text-align: right;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: $o-primary;
}

a:hover {
  color: $o-primary;
  color: var(--o-primary, $o-primary);
}

o-checkbox {
  margin-right: 5px;
}

.o-table-stripe tr:nth-of-type(odd) {
  background: white;
}

.o-table-stripe tr:nth-of-type(even) {
  background: #fafafa;
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(-40px);
  opacity: 0;
}
