.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.omi:hover {
  filter: drop-shadow(0 0 2em #07c161a0);
}

.card {
  padding: 2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #07c161a0;
}
button:focus,
button:focus-visible {
  outline: 4px auto #07c160;
}

.read-the-docs {
  color: #888;
}